/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

@import url("//hello.myfonts.net/count/3143d0");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

@font-face {
  font-family: 'BioSans-Bold';
  src: url("../webfonts/3143D0_0_0.eot");
  src: url("../webfonts/3143D0_0_0.eot?#iefix") format("embedded-opentype"),url("../webfonts/3143D0_0_0.woff2") format("woff2"),url("../webfonts/3143D0_0_0.woff") format("woff"),url("../webfonts/3143D0_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BioSans-Regular';
  src: url("../webfonts/3143D0_1_0.eot");
  src: url("../webfonts/3143D0_1_0.eot?#iefix") format("embedded-opentype"),url("../webfonts/3143D0_1_0.woff2") format("woff2"),url("../webfonts/3143D0_1_0.woff") format("woff"),url("../webfonts/3143D0_1_0.ttf") format("truetype");
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  background: #fff;
  font-family: "BioSans-Regular",sans-serif;
  font-size: 100%;
}

body.overflow-hide {
  overflow: hidden;
}

.page-contact {
  background: #f1f1f2;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0;
}

img {
  height: auto;
  max-width: 100%;
}

a,
button {
  outline: none;
}

.fp-tableCell {
  height: 100% !important;
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

.tablet {
  display: block;
}

.desktop {
  display: none;
}

.desktop {
  display: block;
}

#homepage-slide-container {
  height: 100%;
}

#homepage-slide-container {
  height: auto;
  top: 0 !important;
}

iframe[name="google_conversion_frame"] {
  position: absolute;
  bottom: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: none;
  }
}

[role=banner] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #fff;
  height: 2.5em;
}

[role=banner] {
  height: 3.5em;
}

#site-logo {
  font-size: 1em;
}

#site-logo a {
  background: url(../_img/sprite-1x.png) no-repeat -90px -115px;
  display: block;
  font-size: 1em;
  height: 2.0625em;
  left: 0.625em;
  position: absolute;
  text-indent: -999em;
  top: 0.3125em;
  width: 5.3125em;
}

#site-logo a {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

#site-logo a {
  left: 1.125em;
  top: 0.6875em;
}

#site-logo a:hover {
  background-position: -90px -160px;
}

#site-logo a {
  left: 2.25em;
}

#menu-btn {
  background: url(../_img/sprite-1x.png) no-repeat -443px -115px;
  display: block;
  height: 1.375em;
  overflow: hidden;
  position: absolute;
  right: 1.125em;
  text-indent: -999em;
  top: 0.5em;
  width: 3.25em;
}

#menu-btn {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

#menu-btn {
  top: 1em;
  right: 2.1875em;
}

#menu-btn:hover {
  background-position: -443px -145px;
}

[role=contentinfo] {
  background: #fff;
  color: #000;
  padding: 3.125em 1.125em 1.125em;
  position: relative;
  text-align: center;
  z-index: 2;
}

[role=contentinfo] {
  height: 1.875em;
  padding: 0.4375em 1.125em 0;
  text-align: left;
}

[role=contentinfo] {
  display: none;
}

[role=contentinfo] {
  height: 2.8125em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0.875em;
  z-index: 3;
}

.js .homepage [role=contentinfo] {
  bottom: -2.8125em;
  transition: bottom .25s ease-in;
}

.js .homepage.fp-viewing-downtown-brooklyn [role=contentinfo] {
  bottom: 0;
}

.single-page [role=contentinfo],
.news [role=contentinfo] {
  position: relative;
  bottom: auto;
  left: auto;
  right: auto;
}

.js .homepage [role=contentinfo] {
  bottom: 0;
  margin-top: 0;
  position: relative;
}

[role=contentinfo] ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

[role=contentinfo] ol li {
  margin: 0;
  padding: 0;
}

[role=contentinfo] li:not(:first-child) {
  margin-top: 0.75em;
}

[role=contentinfo] li {
  text-align: center;
}

[role=contentinfo] li:not(:first-child) {
  margin-top: 0;
}

[role=contentinfo] a {
  color: #000;
}

[role=contentinfo] .contact-email {
  display: inline-block;
}

[role=contentinfo] .contact-email a {
  font-size: 0.75em;
}

[role=contentinfo] .contact-email {
  float: left;
  text-align: left;
  width: 20%;
}

[role=contentinfo] .street-address a {
  text-decoration: none;
}

[role=contentinfo] .street-address {
  position: absolute;
  left: 20%;
  right: 20%;
  width: 60%;
}

[role=contentinfo] .privacy-link {
  display: inline-block;
  margin-left: 0.66667em;
}

[role=contentinfo] .privacy-link a {
  font-size: 0.75em;
}

[role=contentinfo] .privacy-link {
  float: right;
  text-align: right;
  width: 20%;
}

.nav-availability,
.nav-news {
  display: none !important;
}

[role=navigation] {
  background: #8fd6e5;
  display: block;
  opacity: 0;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

[role=navigation] .logo {
  background: url(../_img/sprite-1x.png) no-repeat -190px -115px;
  display: block;
  font-size: 1em;
  height: 2.0625em;
  margin: 0.1875em 0 1.25em 0;
  overflow: hidden;
  text-indent: -999em;
  width: 5.3125em;
}

[role=navigation] .logo {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

[role=navigation] .logo {
  left: 2.25em;
  margin: 0;
  position: absolute;
  top: 0.6875em;
}

[role=navigation] .close-button {
  background: url(../_img/sprite-1x.png) no-repeat -326px -30px;
  cursor: pointer;
  display: block;
  height: 1.125em;
  width: 1.125em;
  position: absolute;
  top: 0.625em;
  right: 0.6875em;
}

[role=navigation] .close-button {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

[role=navigation] .close-button {
  top: 1.125em;
  right: 2.1875em;
}

[role=navigation] .content-secondary {
  position: absolute;
  bottom: 1.125em;
  left: 0;
  right: 0;
}

[role=navigation] .content-secondary {
  bottom: 2.25em;
  left: 2.25em;
  width: 10em;
}

[role=navigation] .contact-information {
  color: #fff;
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-bottom: 2em;
}

[role=navigation] .street-address {
  display: block;
}

[role=navigation] .email {
  display: block;
}

[role=navigation] .email a {
  color: inherit;
  text-decoration: none;
}

[role=navigation] .email a:hover {
  color: #42a6bc;
}

[role=navigation] .tel a {
  color: #fff;
  text-decoration: none;
}

[role=navigation] .legal {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[role=navigation] .legal {
  text-align: left;
  font-size: 0.875em;
}

[role=navigation] .legal a {
  color: #fff;
  text-decoration: none;
}

[role=navigation] .legal a:hover {
  color: #42a6bc;
}

.no-js [role=navigation] {
  height: 37.5em;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.no-js [role=navigation] .logo,
.no-js [role=navigation] .close-button {
  display: none;
}

.nav-main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 1.125em;
  padding-top: 3.125em;
}

.nav-main li {
  margin: 0;
  padding: 0;
}

.nav-main {
  padding-top: 0;
  position: absolute;
  right: 12.1875%;
  bottom: 2.25em;
  z-index: 5;
}

.nav-main li {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 2.5em;
  letter-spacing: -.04em;
  line-height: 1.125em;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-main li {
  font-size: 2.875em;
  line-height: 1.15217em;
}

.nav-main a {
  color: #fff;
  text-decoration: none;
}

.nav-main a:hover {
  color: #42a6bc;
}

.building .nav-main .nav-building a,
.amenities .nav-main .nav-amenities a,
.views .nav-main .nav-views a,
.apartments .nav-main .nav-residences a,
.availability .nav-main .nav-availability a,
.downtown-brooklyn .nav-main .nav-neighborhood a,
.apply .nav-main .nav-apply a,
.team .nav-main .nav-team a,
.news .nav-main .nav-news a,
.contact .nav-main .nav-contact a,
.floor-plans .nav-main .nav-availability a {
  color: #42a6bc;
}

.mobile-contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex !important;
  margin: 0 1.125em 1.125em;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.mobile-contact li {
  margin: 0;
  padding: 0;
}

.mobile-contact {
  display: none !important;
}

.mobile-contact li {
  width: 31%;
}

.mobile-contact a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-family: "BioSans-Bold",sans-serif;
  font-size: 0.9375em;
  height: 2.13333em;
  line-height: 2.13333em;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-secondary {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 8.75em;
  top: 1.0625em;
}

.nav-secondary:after {
  content: "";
  display: table;
  clear: both;
}

.nav-secondary li {
  margin: 0;
  padding: 0;
}

.nav-secondary li {
  display: inline;
}

.nav-secondary a {
  color: #000;
  display: block;
  float: left;
  font-family: "BioSans-Bold",sans-serif;
  font-size: 18px;
  margin-left: 1.66667em;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-secondary a:hover {
  color: #42a6bc;
}

.nav-secondary li:first-child a {
  margin-left: 0;
}

.availability .nav-secondary .nav-availability a,
.floor-plans .nav-secondary .nav-availability a,
.page-contact .nav-secondary .nav-contact a,
.page-thanks .nav-secondary .nav-contact a {
  color: #42a6bc;
}

#homepage-slide-container {
  position: relative;
  z-index: 2;
}

.homepage [role=main] {
  background-color: #4fbfff;
  background-repeat: no-repeat;
  height: 35.5em;
  padding: 3.75em 0 0;
}

.homepage [role=main] {
  background-position: right bottom;
}

.homepage [role=main] {
  height: calc(100vh - 50px);
}

.homepage [role=main] {
  height: calc(100vh - 50px);
}

.homepage [role=main] {
  background-image: url(../_img/homepage-desktop-1x.jpg);
  background-position: center bottom;
  height: 100%;
  padding: 4.6875em 0 0;
}

.homepage [role=main] {
  background-image: url("../_img/homepage-sm-tablet-2x.jpg");
  background-size: 1280px 800px;
}

.homepage [role=main] {
  background-position: center top;
}

.homepage [role=main] {
  padding-top: 6.25em;
}

.homepage [role=main] {
  background-size: contain;
}

.homepage [role=main] {
  background-size: cover;
}

.homepage [role=main] {
  background-size: cover;
}

.homepage [role=main] {
  height: 100vh;
}

.homepage [role=main] h1 {
  margin-left: auto;
  margin-right: auto;
  background: url(../_img/sprite-1x.png) no-repeat 0 0;
  font-size: 1em;
  height: 6.875em;
  margin-bottom: 1.6875em;
  overflow: hidden;
  text-indent: -999em;
  width: 17.75em;
}

.homepage [role=main] h1 {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

.homepage [role=main] h1 {
  background-position: 0 -205px;
  height: 11.6875em;
  margin-bottom: 3.1875em;
  width: 30.125em;
  margin-left: 36%;
  margin-right: 0;
}

.homepage [role=main] h1 {
  margin-top: 0.875em;
}

.homepage [role=main] h1 {
  margin-left: 47.5%;
}

.homepage [role=main] .hcard,
.homepage [role=main] h2 {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: "BioSans-Bold",sans-serif;
  font-size: 1.3125em;
  line-height: 1.04762em;
  padding-left: 2.66667em;
  width: 13.52381em;
}

.homepage [role=main] .hcard,
.homepage [role=main] h2 {
  font-size: 2.8125em;
  line-height: 0.84444em;
  padding-left: 2.93333em;
  margin-left: 36%;
  margin-right: 0;
}

.homepage [role=main] .hcard,
.homepage [role=main] h2 {
  padding-left: 2.13333em;
}

.homepage [role=main] .hcard,
.homepage [role=main] h2 {
  margin-left: 47.5%;
}

.homepage [role=main] .street-address {
  display: block;
}

.homepage [role=main] .scroll-link {
  margin-left: auto;
  margin-right: auto;
  background: url(../_img/sprite-1x.png) no-repeat -378px 0;
  display: block;
  height: 0.8125em;
  position: absolute;
  overflow: hidden;
  text-indent: -999em;
  top: 12.5625em;
  right: 50%;
  margin-right: -2.5625em;
  width: 1.375em;
}

.homepage [role=main] .scroll-link {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

.homepage [role=main] .scroll-link {
  display: none;
}

.homepage [role=main] .promo-banner {
  display: none;
  font-size: 1.1875em;
  letter-spacing: -.02em;
  height: 3.26316em;
  padding: 0.94737em 0 0 1.84211em;
  position: absolute;
  left: 0;
  top: 6.47368em;
  width: 19.78947em;
}

.homepage [role=main] .promo-banner {
  background: url(../_img/sprite-1x.png) no-repeat 0 -405px;
  display: block;
}

.homepage [role=main] .promo-banner {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

.nav-section {
  display: block;
  height: 17.125em;
  margin-top: 0.625em;
  position: relative;
  width: 100%;
}

.nav-section.first-section {
  margin-top: 0;
}

.nav-section {
  height: auto;
  padding-bottom: 61.71%;
  position: relative;
}

.nav-section {
  height: 100%;
  padding: 3.5em 2.25em 0;
  text-align: center;
}

.nav-section {
  height: 100vh;
}

.nav-section.section-residences {
  background: url(../_img/residences-overlay-1x.jpg) no-repeat center center;
  background-size: cover;
}

.nav-section.section-residences {
  background-image: url("../_img/residences-overlay-2x.jpg");
  background-size: cover;
}

.nav-section.section-amenities {
  background: url(../_img/amenities-overlay-1x.jpg) no-repeat center center;
  background-size: cover;
}

.nav-section.section-amenities {
  background-image: url("../_img/amenities-overlay-2x.jpg");
  background-size: cover;
}

.nav-section.section-building {
  background: url(../_img/building-overlay-1x.jpg) no-repeat center center;
  background-size: cover;
}

.nav-section.section-building {
  background-image: url("../_img/building-overlay-2x.jpg");
  background-size: cover;
}

.nav-section.section-neighborhood {
  background: url(../_img/neighborhood-overlay-1x.jpg) no-repeat center center;
  background-size: cover;
}

.nav-section.section-neighborhood {
  background-image: url("../_img/neighborhood-overlay-2x.jpg");
  background-size: cover;
}

.nav-section .page-name {
  background: #fff;
  color: #42a6bc;
  display: inline-block;
  font-family: "BioSans-Bold",sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  height: 1.5em;
  letter-spacing: -.04em;
  line-height: 1.5em;
  padding: 0 0.45em;
  text-decoration: none;
  text-transform: lowercase;
  position: relative;
  z-index: 3;
}

.nav-section .page-name a {
  color: inherit;
  text-decoration: none;
}

.nav-section .page-name {
  font-size: 3.5em;
  height: 1.51786em;
  line-height: 1.51786em;
  padding: 0 0.44643em;
}

.nav-section .page-name {
  font-size: 10em;
  font-weight: 400;
  height: auto;
  line-height: 1;
  position: absolute;
  padding: 0.15625em;
  text-align: center;
  top: 50%;
  margin-top: -0.49375em;
  margin-top: -0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

.nav-section .page-name {
  font-size: 7em;
}

.nav-section .page-name {
  background: transparent;
  color: #fff;
  top: calc(50% - 26px);
}

.nav-section .page-name a {
  text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.nav-section .page-name a:hover {
  text-shadow: none;
}

.nav-section.section-neighborhood .page-name br {
  display: none;
}

.nav-section.section-neighborhood .page-name br {
  display: none;
}

.nav-section.section-residences .page-name {
  color: #45ba73;
}

.nav-section.section-amenities .page-name {
  color: #f91b28;
}

.nav-section.section-neighborhood .page-name {
  color: #004db5;
}

.nav-section.section-neighborhood .page-name {
  margin-top: -1.1125em;
}

.nav-section.section-neighborhood .page-name br {
  display: block;
}

.nav-section .see-more {
  display: none;
}

.nav-section .see-more {
  background: url(../_img/sprite-1x.png) no-repeat -116px -490px;
  display: block;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 5.375em;
  overflow: hidden;
  position: absolute;
  right: 2.375em;
  text-indent: -999em;
  top: 50%;
  margin-top: -2.4375em;
  width: 5.375em;
  z-index: 3;
}

.nav-section .see-more {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

.nav-section .see-more:hover {
  background-position: 0 -599px;
}

.nav-section .page-name:hover+.see-more {
  background-position: 0 -599px;
}

.nav-section.section-building .see-more {
  margin-left: 0;
  width: 5.375em;
}

.nav-section.section-residences .see-more {
  background-position: -226px -490px;
  margin-left: 0;
  width: 5.375em;
}

.nav-section.section-residences .see-more:hover {
  background-position: 0 -599px;
}

.nav-section.section-amenities .see-more {
  background-position: 0 -493px;
  margin-left: 0.21429em;
  width: 5.375em;
}

.nav-section.section-amenities .see-more:hover {
  background-position: 0 -599px;
}

.nav-section.section-neighborhood .see-more {
  background-position: -326px -490px;
  margin-left: 0;
  height: 5.375em;
  width: 5.375em;
}

.nav-section.section-neighborhood .see-more:hover {
  background-position: 0 -599px;
}

.nav-section .hover-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: .25s opacity ease-in;
  -moz-transition: .25s opacity ease-in;
  -ms-transition: .25s opacity ease-in;
  transition: .25s opacity ease-in;
}

.nav-section.section-building .hover-overlay {
  background: url(../_img/opaque-blue.png) repeat;
}

.nav-section.section-residences .hover-overlay {
  background: url(../_img/opaque-green.png) repeat;
}

.nav-section.section-amenities .hover-overlay {
  background: url(../_img/opaque-red.png) repeat;
}

.nav-section.section-neighborhood .hover-overlay {
  background: url(../_img/opaque-deep-blue.png) repeat;
}

.nav-section .see-more:hover+.hover-overlay,
.nav-section .page-name:hover+.see-more+.hover-overlay {
  opacity: 1;
}

.nav-section .hover-description {
  bottom: 5.23077em;
  color: #fff;
  display: none;
  font-size: 1.625em;
  letter-spacing: -.04em;
  line-height: 1.15385em;
  position: absolute;
  left: 50%;
  margin-left: -10.19231em;
  text-align: center;
  top: calc(50% + 150px);
  width: 20.38462em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-section .hover-description {
  display: block;
}

.main-layout-page {
  overflow-x: hidden;
}

.main-layout {
  width: 100%;
}

.main-layout {
  height: 100% !important;
  position: relative;
  z-index: 2;
}

.js .main-layout {
  overflow: hidden;
}

.no-js .main-layout {
  height: auto;
}

.js .downtown-brooklyn .main-layout,
.js .amenities .main-layout {
  height: calc(100% - 45px) !important;
}

#home-dot-nav {
  display: none;
}

#home-dot-nav {
  display: block;
}

#home-dot-nav {
  display: none;
}

#tablet-dot-nav {
  display: none;
}

#tablet-dot-nav {
  display: block;
}

.dot-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0.5625em;
  margin-top: -1.125em;
  top: 50%;
  text-align: center;
  z-index: 2;
}

.dot-nav li {
  margin: 0;
  padding: 0;
}

.no-js .dot-nav {
  display: none;
}

.dot-nav li {
  display: inline-block;
  margin-left: 2em;
}

.dot-nav li:first-child {
  margin-left: 0;
}

.homepage .dot-nav li {
  display: block;
  margin-left: 0;
  margin-top: 0.5em;
  width: 0.875em;
}

.homepage .dot-nav li:first-child {
  margin-top: 0;
}

body:not(.homepage) .dot-nav a {
  color: #fff;
  font-size: 0.9375em;
  text-decoration: none;
  text-transform: lowercase;
}

body:not(.homepage) .dot-nav a:hover {
  color: #42a6bc;
}

.homepage .dot-nav a {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 0.875em;
  overflow: hidden;
  text-indent: -999em;
  width: 0.875em;
}

.homepage .homepage .dot-nav a {
  border-color: #fff;
}

.homepage .dot-nav a:hover {
  background: #fff;
}

.homepage .dot-nav .active a {
  background: #fff;
}

.slide-nav {
  display: none;
}

.slide-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 4em;
  text-align: center;
  z-index: 2;
}

.slide-nav li {
  margin: 0;
  padding: 0;
}

.downtown-brooklyn .slide-nav.bottom-section {
  right: 0;
}

.slide-nav li {
  display: inline-block;
  margin-left: 2em;
}

.slide-nav li:first-child {
  margin-left: 0;
}

.slide-nav a,
.slide-nav span {
  color: #fff;
  font-size: 0.9375em;
  text-decoration: none;
  text-transform: lowercase;
}

.slide-nav a:hover {
  text-decoration: underline;
}

.slide-nav span {
  font-family: "BioSans-Bold",sans-serif;
}

.slide-nav.bottom-section a,
.slide-nav.bottom-section span {
  color: #939598;
  text-transform: lowercase;
}

.downtown-brooklyn .slide-nav.bottom-section span {
  color: #000;
}

#layout-container {
  position: relative;
  z-index: 2;
}

#layout-container.fp-destroyed {
  top: 0 !important;
}

#layout-container {
  height: 100%;
}

.no-js #layout-container {
  height: auto;
}

.content-container {
  background: #fff;
  margin-top: 1.875em;
  position: relative;
  z-index: 2;
}

.content-container {
  margin-top: 0;
  padding: 3.5em 0 0;
  height: 100%;
}

.no-js .content-container {
  height: auto;
}

.introduction {
  color: #42a6bc;
  background: #fff;
  padding: 1.875em 1.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.introduction {
  background: transparent;
  color: #fff;
  position: absolute;
  top: 2.1875em;
  left: 2.25em;
  padding: 0;
  z-index: 1;
}

#slider-content {
  background: #000;
  padding: 2.25em 0;
  position: relative;
}

#slider-content .slick-arrow {
  background: url(../_img/arrow-1x.png) no-repeat;
  border: 0;
  bottom: 0;
  display: block;
  padding: 0;
  position: absolute;
  text-indent: -999em;
  top: 0;
  width: 7.5em;
  z-index: 2;
}

#slider-content .slick-arrow {
  background-image: url("../_img/arrow-2x.png");
  background-size: 750px 30px;
}

#slider-content .slick-prev {
  background-position: -479px center;
  left: 0;
}

#slider-content .slick-next {
  background-position: -648px center;
  right: 0;
}

.js #slider-content {
  height: calc(100% - 45px);
  padding: 0;
}

.js .amenities #slider-content,
.js .downtown-brooklyn #slider-content {
  height: 100%;
}

.js .main-layout #slider-content {
  transition: .5s all ease-in;
  width: 100%;
}

.js .main-layout #slider-content.slide {
  transform: translateX(-100%);
  z-index: 2;
}

.views-slider img {
  width: 100%;
}

.views-slider .image-container {
  height: 100%;
}

.views-slider .slick-arrow {
  bottom: auto !important;
  height: 100%;
}

.views-slider figcaption {
  margin-bottom: 2.375em;
}

.views-slider {
  height: 100%;
  padding-bottom: 7%;
}

.no-js .views-slider {
  padding-bottom: 0;
}

.no-js .views-slider .slide {
  margin-bottom: 1em;
}

.views-slider .slick-track {
  height: 100%;
}

.views-slider .slick-list {
  height: calc(100% - 16px);
  margin-bottom: 1em;
}

.views-slider figure {
  position: relative;
}

.views-slider figcaption {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-bottom: 0;
  left: 0.9375em;
  bottom: 0.5em;
}

.views-slider .slide {
  height: 100%;
}

.views-slider .slide figure {
  height: 100%;
}

.views-slider .slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.views-slider-nav {
  display: none;
}

.views-slider-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute !important;
  bottom: 0;
  left: 1.6875em;
  right: 1.6875em;
}

.views-slider-nav li {
  margin: 0;
  padding: 0;
}

.views-slider-nav:after {
  content: "";
  display: table;
  clear: both;
}

.views-slider-nav li {
  padding: 0 0.5625em;
}

.views-slider-nav li img {
  border: 4px solid transparent;
}

.views-slider-nav .slick-current img {
  border-color: #42a6bc;
}

.views-slider-nav .slick-prev {
  left: -27px !important;
}

.views-slider-nav .slick-next {
  right: -27px !important;
}

.slide-back {
  display: none;
}

.slide-back {
  background: url(../_img/sprite-1x.png) no-repeat -326px -30px;
  cursor: pointer;
  height: 1.125em;
  position: absolute;
  top: 1.875em;
  right: 3.625em;
  width: 1.125em;
  z-index: 8;
}

.slide-back {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

.js .slide-back {
  display: block;
}

.page-title {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: -.04em;
  line-height: 1.225em;
  margin-bottom: 0.2em;
  text-transform: lowercase;
}

.page-title {
  font-size: 2.875em;
  line-height: 1.19565em;
  margin-bottom: 0.32609em;
}

.page-description {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 1.25em;
  letter-spacing: -.04em;
  line-height: 1.1em;
}

.page-description {
  font-size: 1.5em;
  line-height: 1.25em;
  width: 15em;
}

.amenities .scroll-link,
.downtown-brooklyn .scroll-link {
  display: inline-block;
  font-family: "BioSans-Bold",sans-serif;
  font-size: 1.4375em;
  height: 1.65217em;
  line-height: 1.65217em;
  margin-top: 2.08696em;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  width: 5.91304em;
}

.amenities .scroll-link {
  border: 2px solid #F91B28;
  color: #F91B28;
}

.amenities .scroll-link {
  display: inline-block;
}

.amenities .scroll-link {
  background: #fff;
  border: 0;
}

.amenities .scroll-link:hover {
  background: #F91B28;
  color: #fff;
}

.downtown-brooklyn .scroll-link {
  border: 2px solid #004DB5;
  color: #004DB5;
  width: 8.34783em;
}

.downtown-brooklyn .scroll-link {
  background: #fff;
  border: 0;
}

.downtown-brooklyn .scroll-link:hover {
  background: #004DB5;
  color: #fff;
}

.the-slider {
  height: 100%;
}

.the-slider .slick-list,
.the-slider .slick-track {
  height: 100%;
}

.the-slider .slide:not(:first-child) {
  margin-top: 1.6875em;
}

.the-slider .slide:not(:first-child) {
  margin-top: 0;
}

.the-slider .slide {
  height: 100%;
  margin-right: 2.25em;
  width: 100vw;
}

.the-slider .slide {
  position: relative;
}

.the-slider .slide figure {
  position: relative;
}

.the-slider .slide figure {
  height: 100%;
}

.the-slider .slide .image-container {
  width: 100%;
}

.the-slider .slide .image-container.compat-object-fit {
  background-size: cover;
  background-position: center center;
}

.the-slider .slide .image-container.compat-object-fit img {
  opacity: 0;
}

.the-slider .slide .image-container {
  height: 100%;
}

.the-slider .slide figure {
  margin: 0 auto;
}

.the-slider .slide.ratio1 figure {
  width: 67.5vw;
}

.the-slider .slide.ratio2 figure {
  width: 50vw;
}

.the-slider .slide.ratio3 figure {
  width: 84.375vw;
}

.the-slider .slide.ratio4 figure {
  width: 94.375vw;
}

.the-slider .slide img {
  width: 100%;
}

.the-slider .slide img {
  height: 100%;
  object-fit: cover;
}

.the-slider .slide figcaption {
  color: #000;
  font-size: 0.8125em;
  line-height: 1.23077em;
  margin-top: 0.92308em;
  padding: 0 1.38462em;
}

.the-slider .slide figcaption {
  font-size: 1em;
  line-height: 1.25em;
  margin-top: 0;
  padding: 0.625em 1.125em;
}

.the-slider .slide figcaption {
  color: #fff;
  height: auto;
  position: absolute;
  left: 35px;
  right: 10px;
  bottom: 10px;
  padding: 10px 0;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.the-slider .slide.first-slide figcaption {
  left: 35px;
}

#content-secondary {
  padding: 2.125em 1.125em;
}

.downtown-brooklyn #content-secondary {
  background: #e0e0e0;
  margin-top: 1.6875em;
}

.amenities #content-secondary {
  background: #fff;
}

#content-secondary {
  padding-top: 4.5em;
  margin-bottom: 2.75em;
}

.downtown-brooklyn #content-secondary {
  padding: 7.875em 2.1875em 2.8125em;
  margin-top: 0;
}

#content-secondary {
  padding: 0;
  height: 100% !important;
  overflow: hidden;
  transition: .5s all ease-in;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 3.5em;
  position: relative;
  width: 100%;
}

.js #content-secondary {
  position: absolute;
  bottom: 100%;
  z-index: 2;
}

.js #content-secondary.show {
  bottom: 0;
}

#content-secondary {
  overflow: scroll;
}

#amenity-illustration {
  height: 100%;
  position: relative;
}

#amenity-illustration {
  height: calc(100% - 45px);
  padding: 2.1875em 2.25em 0;
  position: relative;
}

#amenity-illustration .section-heading {
  font-size: 2.25em;
  letter-spacing: -.04em;
  line-height: 1.05556em;
  margin-bottom: 1.08333em;
  max-width: 11.94444em;
}

#amenity-illustration .section-heading {
  float: left;
  width: 32.75%;
}

#amenities-slider {
  height: 0;
  padding-bottom: 84.6%;
  position: relative;
  width: 100%;
}

#amenities-slider {
  height: 34.6875em;
  padding-bottom: 0;
}

#amenities-slider {
  float: right;
  margin-right: 13.9%;
  width: 51.25%;
}

#amenities-slider {
  height: calc(100vh - 136px);
}

#amenities-slider figure {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  transition: .5s opacity ease-in;
}

#amenities-slider figure.active {
  opacity: 1;
  z-index: 2;
}

#amenities-slider figure {
  height: calc(100vh - 176px);
  width: auto;
}

#amenities-slider img {
  max-width: none;
  width: 100%;
}

#amenities-slider img {
  height: calc(100vh - 196px);
  width: auto;
}

#amenities-slider figcaption {
  font-size: 0.8125em;
  line-height: 1.23077em;
}

#amenities-slider figcaption {
  font-size: 1em;
  line-height: 1.25em;
}

.amenities-arrows {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 84.6%;
  z-index: 999;
}

.amenities-arrows span {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  text-indent: -9999em;
}

.amenities-arrows span.arrow-left {
  background: url(../_img/amenties-arrow-1x.png) no-repeat left center;
  left: 0;
}

.amenities-arrows span.arrow-left {
  background-image: url("../_img/amenties-arrow-2x.png");
  background-size: 750px 30px;
}

.amenities-arrows span.arrow-right {
  background: url(../_img/amenties-arrow-1x.png) no-repeat right center;
  right: 0;
}

.amenities-arrows span.arrow-right {
  background-image: url("../_img/amenties-arrow-2x.png");
  background-size: 750px 30px;
}

.amenities-arrows {
  display: none;
}

#amenities-slider-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 2.8125em;
  text-align: center;
}

#amenities-slider-nav li {
  margin: 0;
  padding: 0;
}

#amenities-slider-nav {
  text-align: left;
  width: 17.8125em;
}

#amenities-slider-nav li {
  display: inline-block;
}

#amenities-slider-nav li:not(:first-child) {
  margin-left: 0.1875em;
}

#amenities-slider-nav li {
  display: inline;
  font-family: "BioSans-Bold",sans-serif;
  font-size: 1.375em;
  letter-spacing: -.04em;
  line-height: 1.18182em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#amenities-slider-nav li:not(:first-child) {
  margin-left: 0;
}

#amenities-slider-nav span {
  display: none;
}

#amenities-slider-nav span {
  display: inline;
}

#amenities-slider-nav a {
  background: #fff;
  border: 1px solid #bcbdc0;
  border-radius: 50%;
  color: #000;
  display: block;
  height: 0.625em;
  overflow: hidden;
  text-indent: -999em;
  width: 0.625em;
}

#amenities-slider-nav a {
  background: transparent;
  border: 0;
  display: inline;
  height: auto;
  text-indent: 0;
  width: auto;
}

#amenities-slider-nav .active a {
  background: #bcbdc0;
}

#amenities-slider-nav .active a {
  background: transparent;
  color: #42a6bc;
}

.map-container:after {
  content: "";
  display: table;
  clear: both;
}

.map-container .map {
  margin-bottom: 1.375em;
}

.map-container .map img {
  max-width: none;
  width: 100%;
}

.map-container .map {
  float: left;
  height: calc(100vh - 186px);
  margin-bottom: 0;
  margin-top: -3.8125em;
  width: 55%;
}

.map-container .map img {
  max-height: calc(100vh - 186px);
  max-width: 100%;
  width: auto;
}

.map-container .map-content h2 {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.375em;
  text-transform: lowercase;
}

.map-container .map-content h2 {
  font-size: 2.875em;
  margin-bottom: 0.32609em;
}

.map-container .map-content h2 {
  float: right;
  width: 42%;
}

.map-container .accordion {
  border-bottom: 1px solid #939598;
  padding: 0.375em 0;
}

.map-container .accordion.boerum-hill {
  border-top: 1px solid #939598;
}

.map-container .accordion-header {
  color: #939598;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  position: relative;
}

.map-container .accordion-header {
  font-size: 1.125em;
}

.map-container .accordion-header:after {
  background: url(../_img/sprite-1x.png) no-repeat -481px -555px;
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.3125em;
  height: 0.625em;
  width: 1.0625em;
}

.map-container .accordion-header:after {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

.map-container .toggled .accordion-header {
  color: #004db5;
}

.map-container .toggled .accordion-header:after {
  background-position: -481px -516px;
}

.map-container .accordion-content {
  padding-top: 0.375em;
}

.map-container .accordion-content ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 1.25em;
}

.map-container .accordion-content ol li {
  margin: 0;
  padding: 0;
}

.map-container .accordion-content li {
  font-size: 0.875em;
  line-height: 1.42857em;
}

.map-teaser {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 1.25em;
  line-height: 1.1em;
  margin-bottom: 1.1em;
}

.map-teaser {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: 0;
  padding-bottom: 1.25em;
}

.map-teaser {
  float: right;
  clear: right;
  width: 42%;
}

.map-accordion {
  float: right;
  clear: right;
  width: 42%;
}

#availability {
  background: #000;
  position: relative;
}

#availability-content {
  padding: 7.125em 1.125em 2.25em;
  position: relative;
  z-index: 2;
}

#availability-content {
  min-height: calc(100vh - 45px);
  padding: 5em 2.1875em 2.25em;
}

#availability-filter-mobile {
  position: absolute;
  left: 1.75em;
  right: 1.75em;
  top: 3.75em;
}

#availability-filter-mobile {
  display: none;
}

#availability-filter-mobile select {
  background: url(../_img/sprite-1x.png) no-repeat right 15px top -699px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.25em;
  height: 1.75em;
  padding: 0 0.75em;
  text-transform: lowercase;
  -webkit-appearance: none;
  width: 100%;
}

#availability-filter-mobile select {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

#availability-filter {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  display: none;
  margin: 1.25em 0;
  z-index: 2;
}

#availability-filter:after {
  content: "";
  display: table;
  clear: both;
}

#availability-filter {
  display: block;
}

#availability-filter ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#availability-filter ol li {
  margin: 0;
  padding: 0;
}

#availability-filter ol li {
  float: left;
  margin-right: 0.5em;
}

#availability-filter ol li span {
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1.25em;
  padding: 0.3em 0.75em;
  text-transform: lowercase;
}

#availability-filter ol li:hover span,
#availability-filter ol li.active span {
  background: #fff;
  color: #000;
}

#availability-filter h3 {
  float: left;
  font-size: 1.25em;
  line-height: 1.7em;
  margin-right: 0.75em;
  text-transform: lowercase;
}

#availability-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#availability-listing:after {
  content: '';
  display: block;
  margin-left: calc(50% - 11px);
}

#availability-listing:after {
  margin-left: calc(33.333% - 14px);
}

#availability-listing article {
  background: #fff;
  padding: 0.5625em;
  border: 1px solid white;
  margin-bottom: 1.125em;
}

#availability-listing article:nth-child(n+6):nth-last-child(2) {
  display: none !important;
}

#availability-listing article.promotional-tile {
  border-width: 14px;
  background-color: #42a6bc;
  background-size: cover !important;
  clear: none !important;
  color: #fff;
  margin-right: 0 !important;
  padding: 0;
  position: relative;
}

#availability-listing article.promotional-tile:before {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 47.51%;
}

#availability-listing article.promotional-tile:after {
  content: '';
  display: block;
  height: 5.1875em;
}

#availability-listing article.promotional-tile:after {
  height: 5.6875em;
}

#availability-listing article.promotional-tile:hover {
  border-color: #fff;
  border-width: 14px;
}

#availability-listing article .promo-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.8125em;
  right: 0.8125em;
  text-align: center;
  font-size: 2.625em;
  line-height: 1.14286em;
  text-transform: lowercase;
}

#availability-listing article figure img {
  display: block;
}

#availability-listing article a {
  color: inherit;
  display: block;
  text-decoration: none;
}

#availability-listing article a:hover {
  color: #42a6bc;
}

#availability-listing article {
  width: calc(50% - 11px);
}

#availability-listing article {
  padding: 0.8125em;
}

#availability-listing article {
  width: calc(33.333% - 14px);
}

#availability-listing article .listing-title,
#availability-listing article .listing-details {
  font-size: 0.9375em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#availability-listing article .listing-title,
#availability-listing article .listing-details {
  font-size: 1.25em;
}

#availability-listing article .listing-title {
  font-weight: normal;
  line-height: 1.53333em;
  margin-bottom: 1em;
}

#availability-listing article .listing-title {
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

#availability-listing article .listing-details {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-family: "BioSans-Bold",sans-serif;
}

#availability-listing article .listing-details:after {
  content: "";
  display: table;
  clear: both;
}

#availability-listing article .listing-details li {
  margin: 0;
  padding: 0;
}

#availability-listing article .listing-details li {
  float: right;
  text-align: right;
  width: 48%;
}

#availability-listing article .listing-details li:first-child {
  float: left;
  text-align: left;
}

#availability-listing article .listing-details {
  line-height: 1.2em;
}

#availability-listing article .listing-price span {
  font-family: "BioSans-Regular",sans-serif;
  font-size: 80%;
  text-transform: lowercase;
}

#availability-listing article:hover {
  border: 1px solid #42a6bc;
}

#availability-listing article:hover .listing-title,
#availability-listing article:hover .listing-details {
  color: #42a6bc;
}

#availability-listing article .price {
  float: right;
}

#availability-listing figure {
  position: relative;
  margin-bottom: 0.5625em;
}

#availability-listing figure {
  margin-bottom: 0;
}

#availability-listing .special {
  background: #8fd6e5;
  font-size: 0.875em;
  line-height: 1.57143em;
  height: 1.57143em;
  padding: 0 0.28571em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #000;
}

.unit-information {
  padding-top: 2.5em;
  position: relative;
  z-index: 2;
}

.unit-information .slick-dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0.625em;
  text-align: center;
}

.unit-information .slick-dots li {
  margin: 0;
  padding: 0;
}

.unit-information .slick-dots li {
  display: inline-block;
  margin-left: 0.375em;
}

.unit-information .slick-dots li:first-child {
  margin-left: 0;
}

.unit-information .slick-dots button {
  background: #fff;
  border: 1px solid #bcbdc0;
  border-radius: 50%;
  display: block;
  height: 0.625em;
  overflow: hidden;
  padding: 0;
  text-indent: -999em;
  width: 0.625em;
}

.unit-information .slick-dots .slick-active button {
  background: #bcbdc0;
}

.unit-information .slick-arrow {
  background: url(../_img/arrow-1x.png) no-repeat;
  border: 0;
  display: block;
  height: 1.8125em;
  position: absolute;
  top: 50%;
  margin-top: -0.9375em;
  padding: 0;
  text-indent: -999em;
  width: 1.3125em;
  z-index: 1;
}

.unit-information .slick-arrow {
  background-image: url("../_img/arrow-2x.png");
  background-size: 750px 30px;
}

.unit-information .slick-prev {
  background-position: -316px 0;
  left: 0.375em;
}

.unit-information .slick-next {
  background-position: -440px 0;
  right: 0.375em;
}

.unit-information .back-link {
  margin-bottom: 0.625em;
  text-align: center;
}

.unit-information .back-link:after {
  content: "";
  display: table;
  clear: both;
}

.unit-information .back-link a {
  background: url(../_img/sprite-1x.png) no-repeat -470px -47px;
  display: inline-block;
  color: #42a6bc;
  font-size: 0.875em;
  height: 1.14286em;
  padding-left: 2.42857em;
  text-decoration: none;
  text-transform: lowercase;
}

.unit-information .back-link a {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

.unit-information .back-link a {
  background-position: -470px 0;
  font-size: 1em;
  height: 1.125em;
  padding-left: 2.125em;
}

.unit-information .back-link a {
  position: absolute;
  top: 0;
  right: 2.25em;
}

.unit-information .back-link a {
  right: calc(50% - 604px);
}

.unit-slider {
  margin-bottom: 1.25em;
}

.unit-slider {
  margin-bottom: 2.125em;
}

.unit-slider img {
  width: 100%;
  max-width: none;
}

.unit-title,
.unit-size,
.unit-price {
  font-size: 1.25em;
  font-weight: normal;
  letter-spacing: -.04em;
  line-height: 1.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unit-title,
.unit-size,
.unit-price {
  font-size: 2.5em;
  line-height: 1.15em;
}

.unit-size,
.unit-price {
  font-family: "BioSans-Bold",sans-serif;
}

.availability-date {
  font-size: 0.75em;
  text-transform: lowercase;
}

.unit-price span {
  text-transform: lowercase;
}

.unit-special {
  color: #737373;
  font-size: 0.625em;
  line-height: 1.5em;
}

.unit-special {
  font-size: 1em;
  line-height: 1.5625em;
}

.unit-description {
  font-size: 0.8125em;
  line-height: 1.23077em;
}

.unit-description ul {
  list-style-type: circle;
  margin: 1.46154em 0 3.07692em;
  padding-left: 1.07692em;
}

.unit-description {
  font-size: 1em;
  line-height: 1.1875em;
}

.unit-description ul {
  margin: 2.125em 0 2.75em;
  padding-left: 1em;
}

.unit-download-plan {
  margin-bottom: 2.5em;
  text-align: center;
}

.unit-download-plan {
  margin-bottom: 8.4375em;
}

.unit-download-plan a {
  border: 1px solid #42a6bc;
  color: #42a6bc;
  display: block;
  font-family: "BioSans-Bold",sans-serif;
  font-size: 0.9375em;
  line-height: 2.13333em;
  height: 2.13333em;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.unit-download-plan a:hover {
  background: #42a6bc;
  color: #fff;
}

.unit-download-plan a {
  border-width: 2px;
  font-size: 1.375em;
  height: 2.27273em;
  line-height: 2.27273em;
  margin: 0 auto;
  width: 13em;
}

.unit-download-plan a {
  margin: 0;
}

.unit-container {
  padding: 1.875em 1.125em 1.125em;
}

.unit-container {
  padding: 2.75em 2.25em 2.1875em;
}

.unit-container {
  position: relative;
}

.unit-container:after {
  content: "";
  display: table;
  clear: both;
}

.unit-container:before {
  content: '';
  display: block;
  float: right;
  height: 0;
  padding-bottom: 71.68%;
  width: 0.0625em;
}

.unit-container {
  margin-left: calc(50% - 604px);
  margin-right: calc(50% - 604px);
}

.unit-floor-plan {
  margin: 0 1.4375em 1.875em;
}

.unit-floor-plan {
  margin-bottom: 2.75em;
  padding: 0 9.43%;
}

.unit-floor-plan {
  position: absolute;
  right: 0;
  top: 12.5em;
  width: 49%;
}

.unit-floor-plan .image {
  position: relative;
}

.unit-floor-plan img {
  width: 100%;
}

.unit-floor-plan .no-furniture {
  opacity: 1;
}

.unit-floor-plan .no-furniture.hide {
  opacity: 0;
}

.unit-floor-plan .furniture {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}

.unit-floor-plan .furniture.show {
  opacity: 1;
}

.unit-floor-plan .plan-changer {
  color: #808285;
  font-size: 1em;
  line-height: 1.1875em;
  margin-top: 0.9375em;
  text-align: right;
  text-transform: lowercase;
}

.unit-floor-plan .plan-changer span.active,
.unit-floor-plan .plan-changer span:hover {
  color: #42a6bc;
}

.unit-floor-plan .plan-changer span {
  cursor: pointer;
}

.unit-views-slider figcaption {
  display: block;
  font-size: 0.8125em;
  line-height: 1.23077em;
  margin-top: 0.76923em;
}

.unit-views-slider figcaption {
  font-size: 1em;
  line-height: 1.25em;
  margin-top: 0.625em;
}

.apartment-info {
  float: left;
}

.apartment-pricing {
  float: right;
}

.unit-description {
  clear: left;
  padding-top: 2.125em;
}

.apartment-info,
.unit-description {
  width: 26.5625em;
}

.apartment-pricing {
  float: left;
  margin-left: 3.75em;
}

.single-page .content-main {
  background: #e0e0e0;
  padding: 6.0625em 1.125em 1.125em;
  position: relative;
  z-index: 2;
}

.single-page .content-main {
  min-height: calc(100vh - 45px);
  padding: 6.25em 2.25em 3.75em;
}

.single-page .content-main:after {
  content: "";
  display: table;
  clear: both;
}

.single-page .content-main {
  padding-left: calc(50% - 604px);
  padding-right: calc(50% - 604px);
}

.single-page .content-main h2 {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 2.375em;
  margin-bottom: 1.5em;
  text-transform: lowercase;
}

.single-page .content-main h2 {
  font-size: 2.875em;
}

.single-page .content-main h3 {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.15em;
  margin-bottom: 1.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.single-page .content-main h3 {
  font-size: 1.75em;
  line-height: 1.07143em;
  margin-bottom: 1.07143em;
}

.single-page .content-main p+h3 {
  margin-top: 2.3em;
}

.single-page .content-main p+h3 {
  margin-top: 2.14286em;
}

.single-page .content-main h4 {
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1.23077em;
}

.single-page .content-main h4 {
  font-size: 1em;
  line-height: 1.1875em;
}

.single-page .content-main ul {
  margin: 0;
  padding: 0 0 0 0.8125em;
}

.single-page .content-main ul+h3,
.single-page .content-main ul+h4 {
  margin-top: 2.61538em;
}

.single-page .content-main ul {
  padding-left: 1em;
}

.single-page .content-main ul+h3,
.single-page .content-main ul+h4 {
  margin-top: 2.31579em;
}

.single-page .content-main p,
.single-page .content-main li {
  font-size: 0.8125em;
  line-height: 1.23077em;
}

.single-page .content-main p+p,
.single-page .content-main li+p {
  margin-top: 1.53846em;
}

.single-page .content-main a {
  color: #42a6bc;
  text-decoration: none;
}

.single-page .content-main a:hover {
  text-decoration: underline;
}

.team-content:after {
  content: "";
  display: table;
  clear: both;
}

.team-section {
  margin-bottom: 3.25em;
}

.team-section {
  float: left;
  width: 30.666%;
  margin-left: 4%;
  margin-bottom: 0;
  padding-bottom: 5em;
}

.team-section:first-child {
  margin-left: 0;
}

.team-section:nth-child(4n) {
  clear: both;
  margin-left: 0;
}

#privacy-modal {
  display: none;
  -webkit-transition: .25s bottom ease-in;
  -moz-transition: .25s bottom ease-in;
  -ms-transition: .25s bottom ease-in;
  transition: .25s bottom ease-in;
}

#privacy-modal {
  background: white;
  display: block;
  position: fixed;
  bottom: -100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 20;
}

#privacy-modal.show {
  bottom: 0;
}

#privacy-modal h3 {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 1.07143em;
  margin-bottom: 1.07143em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#privacy-modal p+h3 {
  margin-top: 2.14286em;
}

#privacy-modal h4 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.1875em;
}

#privacy-modal ul {
  margin: 0;
  padding-left: 1em;
}

#privacy-modal ul+h3,
#privacy-modal ul+h4 {
  margin-top: 2.31579em;
}

#privacy-modal p,
#privacy-modal li {
  font-size: 0.8125em;
  line-height: 1.23077em;
}

#privacy-modal p+p,
#privacy-modal li+p {
  margin-top: 1.53846em;
}

#privacy-modal a {
  color: #42a6bc;
  text-decoration: none;
}

#privacy-modal a:hover {
  text-decoration: underline;
}

#privacy-modal .close-btn {
  background: url(../_img/sprite-1x.png) no-repeat -477px -418px;
  cursor: pointer;
  display: none;
  top: 4.375em;
  right: 2.1875em;
  height: 1.125em;
  overflow: hidden;
  position: fixed;
  text-indent: -999em;
  transition: display .5s ease-in;
  width: 1.125em;
}

#privacy-modal .close-btn {
  background-image: url("../_img/sprite-2x.png");
  background-size: 500px 800px;
}

#privacy-modal .close-btn:hover {
  background-position: -477px -453px;
}

#privacy-modal.show .close-btn {
  display: block;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.privacy-content {
  padding-top: 4.375em;
  padding-bottom: 2.25em;
  padding-left: 0;
  margin: 0 auto;
  width: calc(80% - 140px);
}

.privacy-content {
  width: 95%;
  padding-left: 50%;
  margin: 0;
}

.privacy-content span a img {
  display: block;
  max-width: 210px;
  height: auto;
  margin: 0 0 70px;
}

.privacy-content span a img {
  margin-left: -45px;
}

.news {
  background: #e0e0e0;
}

#news-listing {
  margin: 0 1.125em;
  padding: 3em 0 0.625em;
  position: relative;
  z-index: 2;
}

#news-listing:after {
  content: "";
  display: table;
  clear: both;
}

#news-listing {
  margin: 0 2.1875em;
  padding: 5em 0 0.625em;
}

#news-listing .listing {
  margin: 0 0 1.375em;
  z-index: 1;
  width: 100%;
}

#news-listing .listing .wrapper {
  background: #fff;
  border: 1px solid #fff;
  padding: 0.5625em;
}

#news-listing .listing.expanded {
  z-index: 3;
}

#news-listing .listing.expanded .wrapper {
  border-color: #42a6bc;
}

#news-listing .listing a {
  font-family: "BioSans-Bold",sans-serif;
  color: #42a6bc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

#news-listing .listing a:hover {
  text-decoration: underline;
}

#news-listing .listing {
  float: left;
  padding: 0 0.6875em;
  width: 50%;
}

.no-js #news-listing .listing:nth-child(2n+1) {
  clear: left;
}

#news-listing .listing {
  margin: 0 0 1.625em;
  padding: 0 0.8125em;
  width: 50%;
}

#news-listing .listing {
  width: 33.333%;
}

.no-js #news-listing .listing:nth-child(2n+1) {
  clear: none;
}

.no-js #news-listing .listing:nth-child(3n+1) {
  clear: left;
}

#news-listing figure {
  margin-bottom: 0.4375em;
}

#news-listing figure {
  margin-bottom: 0.6875em;
}

#news-listing figure img {
  max-width: none;
  width: 100%;
}

#news-listing .listing-title {
  font-family: "BioSans-Bold",sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#news-listing .listing-title {
  font-size: 1.125em;
  line-height: 1.11111em;
  margin-bottom: 1.05556em;
}

#news-listing .post-date {
  color: rgba(102,102,102,0.6);
  font-size: 0.8125em;
  line-height: 1.61538em;
}

#news-listing .post-date {
  font-size: 0.75em;
  line-height: 1.07692em;
  margin-bottom: 0.38462em;
}

#news-listing p {
  font-size: 0.8125em;
  line-height: 1.23077em;
}

#news-listing p+p {
  margin-top: 1.23077em;
}

#news-listing p {
  font-size: 0.75em;
  line-height: 1.16667em;
}

#news-listing p+p {
  margin-top: 1.16667em;
}

#news-listing .more-content {
  margin-top: 1.23077em;
}

#news-listing .more-content {
  margin-top: 1.16667em;
}

#news-listing .more-content.collapsed {
  display: none;
}

#news-listing .read-more {
  color: #42a6bc;
  cursor: pointer;
  font-size: 0.8125em;
  line-height: 1.23077em;
  margin-top: 1.23077em;
}

#news-listing .read-more {
  font-size: 0.75em;
  line-height: 1.16667em;
  margin-top: 1.16667em;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  outline: none;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.attractions-close-by .slick-slide {
  opacity: .5;
}

.attractions-close-by .slick-slide.slick-active {
  opacity: 1;
}

.views-carousel .slick-slide {
  opacity: .5;
}

.views-carousel .slick-slide.slick-active {
  opacity: 1;
}

.slick-arrow.slick-hidden {
  display: none;
}

.page-contact .content-main {
  position: relative;
  z-index: 2;
}

#contact {
  position: relative;
  height: auto;
  background: #f1f1f2;
}

#contact {
  min-height: calc(100vh - 100px);
}

#contact a>img {
  position: absolute;
  top: 48px;
  left: 50%;
  display: block;
  width: 210px;
  margin: 0 auto;
}

#contact-fields {
  max-width: 1040px;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  color: #58595b;
  font-size: 40px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  letter-spacing: -2px;
}

#contact-fields {
  padding-top: 68px;
}

#contact-fields {
  padding-top: 0;
  position: absolute;
  top: 50%;
  margin-top: 12px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#contact-fields .blue {
  color: #63cae8;
}

#contact-fields p {
  padding: 50px 0 0;
}

#contact-fields p label {
  text-align: left;
  display: block;
  font-size: 16px;
  font-weight: normal;
  padding-top: 5px;
  color: #63cae8;
  letter-spacing: 1px;
}

.fun-field {
  position: relative;
  display: inline-block;
  min-width: 320px;
  height: 48px;
  white-space: nowrap;
  color: #63cae8;
  padding-bottom: 9px;
  border-bottom: 4px solid #63cae8;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1.2;
  margin-top: 16px;
}

.fun-field span.text {
  display: block;
  min-width: 320px;
  min-height: 48px;
  white-space: nowrap;
  color: #63cae8;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
}

.fun-field span.text:focus {
  background: rgba(255,255,255,0.3);
}

.fun-field span.text.has-period::after {
  content: '. ';
  display: inline-block;
  position: absolute;
  bottom: -3px;
  right: 0;
}

.fun-field label {
  display: block;
  font-size: 16px;
  font-weight: normal;
  padding-top: 5px;
  text-align: left;
  letter-spacing: 1px;
}

.fun-field label.error {
  color: #cb4930;
}

.fun-field ul {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  min-width: 100%;
  height: 260px;
  background: white;
  margin: 0;
  list-style: none;
  z-index: 999;
}

.fun-field ul li {
  position: relative;
  cursor: pointer;
  padding: 8px 30px 8px 55px;
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  text-align: left;
}

.fun-field ul li::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 20px;
  top: 20px;
  border: 2px solid #63cae8;
  background: white;
  box-sizing: border-box;
  border-radius: 20px;
}

.fun-field ul li:hover {
  background: #8fd9ef;
  color: white;
}

.fun-field ul li.active::before {
  background: #63cae8;
}

.fun-field ul.open {
  display: block;
}

input[type="button"] {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #63cae8;
  font-size: 40px;
  font-weight: bold;
  border: 4px solid #63cae8;
  background: transparent;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 14px 0;
  cursor: pointer;
  outline: 0;
  transition: background 300ms;
}

input[type="button"].error {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  background: transparent;
  box-sizing: border-box;
  padding: 14px 0;
  cursor: pointer;
  outline: 0;
  color: #cb4930;
  border-color: #cb4930;
}

input[type="button"].disabled {
  -o-opacity: 0.5;
  -ms-opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

input[type="button"]:hover {
  background: rgba(99,202,232,0.3);
}

.jspVerticalBar {
  width: 4px;
  right: 16px;
  height: 0px;
  background: #63cae8;
}

.jspHorizontalBar {
  display: none;
}

.jspDrag {
  width: 16px;
  border-radius: 16px;
  background: white;
  border: 4px solid #63cae8;
  left: -6px;
}

.jspTrack {
  background: #63cae8;
}

.jspCap {
  height: 16px;
  display: block;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

#contact-fields {
  padding-top: 70px;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

#thanks {
  position: relative;
  min-height: calc(100vh - 44px);
  background-color: #f1f1f2;
  z-index: 2;
}

#thanks .image-wrapper,
#thanks .content-wrapper {
  float: left;
  width: 50%;
  position: relative;
}

#thanks .image-wrapper img {
  max-width: 56%;
  margin: 100px auto 30px;
  display: block;
}

#thanks .image-wrapper a#text {
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
}

#thanks .content-wrapper div {
  position: absolute;
  left: 44px;
  top: 300px;
  max-width: 530px;
}

#thanks .content-wrapper div h1 {
  color: #63cae8;
  font-size: 60px;
  padding-bottom: 36px;
  letter-spacing: -3px;
}

#thanks .content-wrapper div p {
  color: #58595b;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -1px;
}

#thanks {
  height: auto;
  background-image: none;
  padding-bottom: 30px;
}

#thanks .image-wrapper img {
  margin: 0 auto;
  padding: 90px 0 30px;
}

#thanks .image-wrapper,
#thanks .content-wrapper {
  width: 100%;
  float: none;
}

#thanks .image-wrapper #logo,
#thanks .content-wrapper #logo {
  display: none;
}

#thanks .image-wrapper div,
#thanks .content-wrapper div {
  position: static;
  left: auto;
  top: auto;
  margin: 0px auto;
}

#thanks .image-wrapper div img.mobile,
#thanks .content-wrapper div img.mobile {
  padding-top: 55px;
  display: block;
  margin: 0px auto;
  width: 80%;
}

#thanks .image-wrapper div h1,
#thanks .content-wrapper div h1 {
  color: #63cae8;
  font-size: 56px;
  margin-top: 60px;
  margin-left: 10%;
  padding-bottom: 20px;
}

#thanks .image-wrapper div p,
#thanks .content-wrapper div p {
  color: #58595b;
  font-size: 22px;
  width: 80%;
  margin: 0px auto;
  line-height: 1.1;
}

/*# sourceMappingURL=main.css.map */