@import "normalize";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Viewport
// ========================================================================== */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Breakpoints
// ========================================================================== */
$break-0:0;
$break-mobile-max:37.43755em; /* 599px */
$break-tablet: 48em; /* 768px */
$break-desktop:60em; /* 960px */

/* Typography
// ========================================================================== */
@import url("//hello.myfonts.net/count/3143d0");

  
@font-face {font-family: 'BioSans-Bold';src: url('../webfonts/3143D0_0_0.eot');src: url('../webfonts/3143D0_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/3143D0_0_0.woff2') format('woff2'),url('../webfonts/3143D0_0_0.woff') format('woff'),url('../webfonts/3143D0_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BioSans-Regular';src: url('../webfonts/3143D0_1_0.eot');src: url('../webfonts/3143D0_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/3143D0_1_0.woff2') format('woff2'),url('../webfonts/3143D0_1_0.woff') format('woff'),url('../webfonts/3143D0_1_0.ttf') format('truetype');}

$browser-default-font-size:16px;
$layout-size:16px;
$font-stack-default:'BioSans-Regular', sans-serif;
$font-stack-bold:'BioSans-Bold', sans-serif;
/* Colors
// ========================================================================== */
$color-text:#666;
$color-white:#fff;
$color-black:#000;
$color-blue:rgb(66,166,188);

/* Convert px to ems
// ========================================================================== */
@function px-to-ems( $pixels, $context: $browser-default-font-size ) {
  @return #{$pixels/$context}em;
}

@function return-ems( $pixels, $context ) {
  @return #{$pixels/$context}em;
}
@function layout-ems( $pixels, $context: $layout-size ) {
  @return #{$pixels/$context}em;
}

/* Mixins
// ========================================================================== */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin delist {
	list-style-type: none;
	margin:0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}
@mixin center {
	margin-left: auto;
	margin-right: auto;
}
@mixin clrfix {
	content: "";
	display: table;
	clear:both;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($values) {
  -webkit-box-direction: $values;
  -moz-box-direction:  $values;
  -webkit-flex-direction:  $values;
  -ms-flex-direction:  $values;
  flex-direction:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin mobile-header($image) {
	background: url(#{$path-to-images}/#{$image}-header-mobile.jpg) no-repeat center top;
}
@mixin sm-tablet-header($image) {
	background: url(#{$path-to-images}/#{$image}-header-sm-tablet.jpg) no-repeat center top;
	background-size:contain;
}
@mixin tablet-header($image) {
	background-color:#01649b;
	background:
	url(#{$path-to-images}/blue-overlay-tablet.png) no-repeat center top,
	url(#{$path-to-images}/#{$image}-header-tablet.png) no-repeat center top,
	url(#{$path-to-images}/blue-back-tablet.png) no-repeat center top,
	url(#{$path-to-images}/page-header-tablet.jpg) repeat-x top;
}
@mixin desktop-header($image) {
	background-color:#01649b;
	background:
	url(#{$path-to-images}/blue-overlay-desktop.png) no-repeat center top,
	url(#{$path-to-images}/#{$image}-header-desktop.png) no-repeat center top fixed,
	url(#{$path-to-images}/blue-back-desktop.png) no-repeat center top,
	url(#{$path-to-images}/page-header-desktop.jpg) repeat-x top;
}
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}
@mixin background-screen($method) {
  background-position: center center;
  background-repeat: no-repeat;
	background-size: $method;
}
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
@mixin valign() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@mixin font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin map-left($left) {
	left:percentage($left / 1422px);
}
@mixin map-top($top) {
	top:percentage($top / 1896px);
}
@mixin map-right($right) {
	right:percentage($right / 1422px);
}
