@mixin prefixed( $prop, $attrs... ) {
	-o-#{$prop}: $attrs;
	-ms-#{$prop}: $attrs;
	-moz-#{$prop}: $attrs;
	-webkit-#{$prop}: $attrs;
	#{$prop}: $attrs;
}

$gray:#58595b;
$lightblue:#63cae8;
$red:#cb4930;

$hero-logo-width:360px;
$hero-text-left:72px;
$hero-gutter:50px;

$information-logo-width: 210px;
$information-text-left:44px;
$information-gutter:30px;

$contact-logo-width: 210px;
$footer-height:44px;
.page-contact .content-main {
	position: relative;
	z-index:2;
	@media (min-width:$break-tablet) {
		
	}
}
#contact {
	position: relative;
	height:auto;
	background: #f1f1f2;
	@media (min-width:$break-desktop) and (min-height:layout-ems(740px)) {
		min-height: calc(100vh - 100px);
	}
	a > img {
		position: absolute;
		top: 48px;
		left:50%;
		display: block;
		width: $contact-logo-width;
		margin:0 auto;
	}
}

#contact-fields {
	max-width: 1040px;
	width:90%;
	margin:0 auto;
	padding-top:100px;
	color:$gray;
	font-size:40px;
	font-weight: bold;
	line-height: 2;
	text-align: center;
	letter-spacing: -2px;
	@media (min-width:$break-desktop) and (max-height:layout-ems(839px)) {
		padding-top:68px;
	}
	@media (min-width:$break-desktop) and (min-height:layout-ems(840px)) {
		padding-top: 0;
		position: absolute;
		top:50%;
		margin-top: 12px;
		left:50%;
		transform: translateY(-50%) translateX(-50%);
	}
	.blue {
		color: $lightblue;
	}

	p {
		padding:50px 0 0;
		label {
			text-align: left;
			display: block;
			font-size: 16px;
			font-weight: normal;
			padding-top:5px;
			color:$lightblue;
			letter-spacing: 1px;
		}
	}
}

.fun-field {
	position: relative;
	display: inline-block;
	min-width:320px;
	height:48px;
	white-space: nowrap;
	color:$lightblue;
	padding-bottom:9px;
	border-bottom:4px solid $lightblue;
	box-sizing: border-box;
	vertical-align: top;
	line-height: 1.2;
	margin-top:16px;

	span.text {
		display: block;
		min-width:320px;
		min-height:48px;
		white-space: nowrap;
		color:$lightblue;
		cursor: pointer;
		outline:none;
		box-sizing: border-box;
		text-align: left;
		overflow: hidden;

		&:focus {
			background:rgba(255,255,255,0.30);
		}

		&.has-period {
			&::after {
				content: '. ';
				display: inline-block;
				position: absolute;
				bottom: -3px;
				right:0;
			}
		}
	}

	label {
		display: block;
		font-size: 16px;
		font-weight: normal;
		padding-top:5px;
		text-align: left;
		letter-spacing: 1px;

		&.error {
			color: $red;
		}
	}

	ul {
		display: none;
		position: absolute;
		top:calc(100% + 4px);
		min-width: 100%;
		height: 260px;
		background:white;
		margin: 0;
		list-style: none;
		z-index: 999;

		li {
			position: relative;
			cursor: pointer;
			padding: 8px 30px 8px 55px;
			width: 100%;
			box-sizing: border-box;
			font-size: 30px;
			text-align: left;
			&::before {
				position: absolute;
				content: "";
				width:16px;
				height:16px;
				left:20px;
				top:20px;
				border:2px solid $lightblue;
				background: white;
				box-sizing: border-box;
				border-radius:20px;
			}
			&:hover {
				background:lighten($lightblue,10%);
				color: white;
			}
			&.active {
				&::before {
					background: $lightblue;
				}
			}
		}

		&.open {
			display: block;
		}
	}
}

input[type="button"] {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	color:$lightblue;
	font-size:40px;
	font-weight: bold;
	border:4px solid $lightblue;
	background: transparent;
	border-radius: 0px;
	box-sizing: border-box;
	padding:14px 0;
	cursor: pointer;
	outline:0;
	transition: background 300ms;

	&.error {
		-webkit-appearance: none;
		display: block;
		width: 100%;
		font-size:24px;
		font-weight: bold;
		background: transparent;
		box-sizing: border-box;
		padding:14px 0;
		cursor: pointer;
		outline:0;
		color:$red;
		border-color:$red;
	}

	&.disabled {
		@include prefixed(opacity, 0.5);
	}

	&:hover {
		background: rgba(99,202,232,.3);
	}
}

.jspVerticalBar {
	width: 4px;
	right: 16px;
	height: 0px;
	background: $lightblue;

}

.jspHorizontalBar {
	display: none;
}

.jspDrag{
	width: 16px;
	border-radius: 16px;
	background: white;
	border: 4px solid $lightblue;
	left: -6px;
}

.jspTrack {
	background: $lightblue;
}

.jspCap {
	height: 16px;
	display: block;
}

.desktop {
	display: block;
}

.mobile {
	display: none;
}

@media screen and (max-width: 768px) {

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	#contact a > img {
		display: none;
	}

	#contact-fields {
		padding: 60px 0px;
		text-align: center;
		font-size: 21px;
		width: 80%;
		max-width: none;
		line-height: 1.1;
		letter-spacing: 0px;
	}

	.fun-field {
		border-bottom: 1px solid $lightblue;
		display: block;
		height: 48px;
		width: calc(100% - 30px);
		min-width: 0px;
		margin: 0 auto 20px;
		padding-bottom: 0px;

		&.has-period {
		 &::after {
			 content: '.';
			 display: block;
			 position: absolute;
			 right: 0;
			 bottom: 0px;
		 }
		}
		label {
			text-align: center;
			font-size: 20px;
			padding: 10px 0;
		}

		span {
			height: 48px;
			line-height: 48px;
			vertical-align: bottom;
			min-width: 0px;
			width: 100%;
			max-width: none;

			&:focus {
				background: transparent;
			}

			&.text {
				position: absolute;
				z-index: 0;
				min-width: 0px;
				text-align: center;
				font-size: 21px;
				color: $lightblue;


				&.empty {
					display: block;
					font-size: 16px;
					font-weight: normal;
					padding-top:5px;
					color: $lightblue;
				}

				&.error {
						color: $red;
				}
			}
		}

		input, select {
			background: transparent;
			text-align: center;
			font-size: 21px;
			line-height: 1.3;
			color: $lightblue;
			border: 0px;
			-webkit-appearance: none;
			height: 48px;
			line-height: 48px;
			vertical-align: bottom;
			width: 100%;
			outline: none;
			padding: 0px;
			border-radius: 0px;
			box-sizing: border-box;

			&.error {

				&::placeholder {
					color: $red;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: $red;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: $red;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: $red;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: $red;
				}
			}

			&::placeholder {
				display: block;
				font-size: 21px;
				font-weight: normal;
				padding-top:5px;
				color: $lightblue;
				letter-spacing: 0px;
			}

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				display: block;
				font-size: 21px;
				font-weight: normal;
				padding-top:5px;
				color: $lightblue;
				letter-spacing: 0px;
			}

			&::-moz-placeholder { /* Firefox 19+ */
				display: block;
				font-size: 21px;
				font-weight: normal;
				padding-top:5px;
				color: $lightblue;
				letter-spacing: 0px;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				display: block;
				font-size: 21px;
				font-weight: normal;
				padding-top:5px;
				color: $lightblue;
				letter-spacing: 0px;
			}
			&:-moz-placeholder { /* Firefox 18- */
				display: block;
				font-size: 21px;
				font-weight: normal;
				padding-top:5px;
				color: $lightblue;
				letter-spacing: 0px;
			}
		}

		select {
			color: transparent;
	    position: absolute;
	    z-index: 1;
	    width: 100%;
	    left: 0;
	    right: 0;
	    bottom: 0;
		}
	}

	p {
		label {
			text-align: left;
			margin-bottom: 10px;
			letter-spacing: 1px;
		}
 	}

	input[type="button"] {
		font-size: 24px;

		&.error {
			font-size: 18px;
			border-radius: 0px;
		}
	}
}
@media screen and (min-width: 768px) {
	#contact-fields {
		padding-top: 70px;
	}
}
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:portrait)
{ 
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}