#thanks {
	position: relative;
	min-height: calc(100vh - 44px);
	background-color:#f1f1f2;
	z-index:2;
	.image-wrapper, .content-wrapper {
		float: left;
		width: 50%;
		position: relative;
	}
	.image-wrapper {
		img {
			max-width:56%;
			margin: 100px auto 30px;
			display: block;
		}

		a#text{
			font-size: 10px;
			text-align: center;
			text-decoration: none;
			color: black;
			display: block;
		}
	}

	.content-wrapper {
		//	padding-top: 100px;
			div {
				position: absolute;
				left: 44px;
				top: 300px;
				max-width: 530px;

				h1 {
					color:$lightblue;
					font-size: 60px;
					padding-bottom: 36px;
					letter-spacing: -3px;
				}

				p {
					color:$gray;
					font-size: 24px;
					line-height: 1.1;
					letter-spacing: -1px;
				}
			}
	}
}

@media screen and (max-width: 1000px) {
	#thanks {
		height: auto;
		background-image: none;
		padding-bottom: 30px;

		.image-wrapper {
			img {
				margin:0 auto;
				padding:90px 0 30px;
			}
		}
		.image-wrapper,
		.content-wrapper {
			width: 100%;
			float: none;

			#logo {
				display: none;
			}

			div {
				position: static;
				left: auto;
				top: auto;
				margin: 0px auto;

				img.mobile {
					padding-top: 55px;
					display: block;
					margin: 0px auto;
					width: 80%;
				}

				h1 {
					color:$lightblue;
					font-size: 56px;
					margin-top: 60px;
					margin-left: 10%;
					padding-bottom:20px;
				}

				p {
					color:$gray;
					font-size: 22px;
					width: 80%;
					margin: 0px auto;
					line-height: 1.1;
				}
			}
		}
	}
}
