@import 'base';

/* =Global Styles
// ========================================================================== */
html, body {
	height: 100%;
	position: relative;
}
body {
	background: $color-white;
	font-family: $font-stack-default;
	font-size: 100%;
	&.overflow-hide {
		overflow: hidden;
	}
}
.page-contact {
	background:#f1f1f2;
}
figure {
	margin:0;
}
p {
	margin-bottom: 0;
}
img {
	height: auto;
	max-width:100%;
}
a,button {
	outline:none;
}
.fp-tableCell {
	height: 100% !important;
}
.mobile {
	@media (min-width:$break-tablet) {
		display: none;
	}
}
.tablet {
	display: none;
	@media (min-width:$break-tablet) {
		display: block;
	}
}
.desktop {
	display: none;
	@media (min-width:$break-desktop) {
		display: block;
	}
}
#homepage-slide-container {
	@media (min-width:$break-tablet) {
		height: 100%;
	}
	@media (min-width:$break-desktop) and (max-height:767px) {
		height: auto;
		top:0 !important;
	}
}
iframe[name="google_conversion_frame"] {
	position: absolute;
	bottom:0;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: none;
  }
}
/* =Banner
// ========================================================================== */
[role=banner] {
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:5;
	background:$color-white;
	height: px-to-ems(40px);
	@media (min-width:$break-tablet) {
		height: px-to-ems(56px);
	}
}
#site-logo {
	font-size: 1em;
	a {
		background: url(../_img/sprite-1x.png) no-repeat -90px -115px;
		@include image-2x('../_img/sprite-2x.png', 500px, 800px);
		display: block;
		font-size: 1em;
		height: px-to-ems(33px);
		left:px-to-ems(10px);
		position: absolute;
		text-indent: -999em;
		top:px-to-ems(5px);
		width: px-to-ems(85px);
		@media (max-width:layout-ems(767px)) {
			left:px-to-ems(18px);
			transform: scale(.65);
			transform-origin: left;
			top:px-to-ems(3px);
		}
		@media (min-width:$break-tablet) {
			left:px-to-ems(18px);
			top:px-to-ems(11px);
			&:hover {
				background-position: -90px -160px;
			}
		}
		@media (min-width:$break-desktop) {
			left:px-to-ems(36px);
		}
	}
}
#menu-btn {
	background: url(../_img/sprite-1x.png) no-repeat -443px -115px;
	@include image-2x('../_img/sprite-2x.png', 500px, 800px);
	display: block;
	height: px-to-ems(22px);
	overflow: hidden;
	position: absolute;
	right:px-to-ems(18px);
	text-indent: -999em;
	top:px-to-ems(8px);
	width:px-to-ems(52px);
	@media (min-width:$break-tablet) {
		top: px-to-ems(16px);
		right: px-to-ems(35px);
		&:hover {
			background-position: -443px -145px;
		}
	}
}

/* =Footer
// ========================================================================== */
[role=contentinfo] {
	background: $color-white;
	color: $color-black;
	padding:px-to-ems(50px) px-to-ems(18px) px-to-ems(18px);
	position: relative;
	text-align: center;
	z-index:2;
	@media (min-width:layout-ems(600px)) {
		height: px-to-ems(30px);
		padding:px-to-ems(7px) px-to-ems(18px) 0;
		text-align: left;
	}
	// May need to change this to desktop breakpoint
	@media (min-width:$break-tablet) and (max-width:layout-ems(959px)) {
		display: none;
	}
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
		display: none;
	}
	@media (min-width:$break-desktop) {
		height: px-to-ems(45px);
		position: fixed;
		bottom:0;
		left:0;
		right:0;
		padding-top: px-to-ems(14px);
		z-index:3;
		.js .homepage & {
			bottom:px-to-ems(-45px);
			transition: bottom .25s ease-in;
		}
		.js .homepage.fp-viewing-downtown-brooklyn & {
			bottom: 0;
		}
		.single-page &,
		.news & {
			position: relative;
			bottom:auto;
			left:auto;
			right:auto;
		}
	}
	@media (min-width:$break-desktop) and (max-height:767px) {
		.js .homepage & {
			bottom:0;
			margin-top: 0;
			position: relative;
		}
	}
	ol {
		@include delist;
	}
	li {
		&:not(:first-child) {
			margin-top:px-to-ems(12px);
		}
		@media (min-width:layout-ems(600px)) {
		//	float: left;
			text-align: center;
			&:not(:first-child) {
				margin-top: 0;
			}
		}
	}
	a {
		color:$color-black;

	}
	.contact-email {
		a {
			font-size: px-to-ems(12px);
		}
		display:inline-block;
		@media (min-width:layout-ems(600px)) {
			float: left;
			text-align: left;
			width:20%;
		}
	}
	.street-address {
		a {
			text-decoration: none;
		}
		@media (min-width:$break-desktop) {
			position: absolute;
			left:20%;
			right:20%;
			width: 60%;
		}
	}
	.privacy-link {
		display: inline-block;
		margin-left: return-ems(8px,12px);
		a {
			font-size: px-to-ems(12px);
		}
		@media (min-width:layout-ems(600px)) {
			float: right;
			text-align: right;
			width:20%;
		}
	}
}

/* =Navigation
// ========================================================================== */

// For Launch
.nav-availability,
.nav-news {
	display: none !important;
}

[role=navigation] {
	background:rgb(143,214,229);
	display: block;
	opacity: 0;
	position: fixed;
	bottom:0;
	top:0;
	left:0;
	right:0;
	z-index:1;
	.logo {
		background: url(../_img/sprite-1x.png) no-repeat -190px -115px;
		@include image-2x('../_img/sprite-2x.png', 500px, 800px);
		display: block;
		font-size: 1em;
		height: px-to-ems(33px);
		margin: px-to-ems(3px) 0 px-to-ems(20px) 0;
		overflow: hidden;
		text-indent: -999em;
		width: px-to-ems(85px);
		@media (max-width:layout-ems(767px)) {
			margin-left:px-to-ems(18px);
			transform: scale(.65);
			transform-origin: left;
		}
		@media (min-width:$break-tablet) and (max-width:layout-ems(959px)) {
			margin-left:px-to-ems(18px);
			margin-top:px-to-ems(10px);
		}
		@media (min-width:$break-desktop) {
			left:px-to-ems(36px);
			margin: 0;
			position: absolute;
			top:px-to-ems(11px);
		}
	}
	.close-button {
		background: url(../_img/sprite-1x.png) no-repeat -326px -30px;
		@include image-2x('../_img/sprite-2x.png', 500px, 800px);
		cursor:pointer;
		display: block;
		height: px-to-ems(18px);
		width: px-to-ems(18px);
		position: absolute;
		top:px-to-ems(10px);
		right:px-to-ems(11px);
		@media (min-width:$break-tablet) {
			top:px-to-ems(18px);
			right:px-to-ems(35px);
		}
	}
	.content-secondary {
		position: absolute;
		bottom:px-to-ems(18px);
		left:0;
		right:0;
		@media (min-width:$break-tablet) {
			bottom:px-to-ems(36px);
			left:px-to-ems(36px);
			width:px-to-ems(160px);
		}
	}
	.contact-information {
		color: $color-white;
		font-size: px-to-ems(18px);
		line-height: return-ems(24px,18px);
		margin-bottom: return-ems(36px,18px);
	}
	.street-address {
		display: block;
	}
	.email {
		display: block;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color:#42a6bc;
			}
		}
	}
	.tel a {
		color: $color-white;
		text-decoration: none;
	}
	.legal {
		font-family: $font-stack-bold;
		font-size: px-to-ems(12px);
		text-align: center;
		text-transform: lowercase;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@media (min-width:$break-tablet) {
			text-align: left;
			font-size: px-to-ems(14px);
		}
		a {
			color: $color-white;
			text-decoration: none;
			&:hover {
				color:#42a6bc;
			}
		}
	}
	.no-js & {
		height: px-to-ems(600px);
		position: relative;
		top:auto;
		bottom:auto;
		left:auto;
		right:auto;
		.logo, .close-button {
			display: none;
		}
	}
}
.nav-main {
	@include delist;
	margin-left:px-to-ems(18px);
	padding-top:px-to-ems(50px);
	@media (max-width:layout-ems(767px)) and (max-height:px-to-ems(459px)) {
		-webkit-column-count:2;
		-moz-column-count:2;
		-ms-column-count:2;
		column-count:2;
	}
	@media (min-width:$break-tablet) {
		padding-top: 0;
		position: absolute;
		right:12.1875%;
		bottom:px-to-ems(36px);
		z-index:5;
	}
	li {
		font-family: $font-stack-bold;
		font-size: px-to-ems(40px);
		letter-spacing: -.04em;
		line-height: return-ems(45px,40px);
		text-transform: lowercase;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@media (max-width:layout-ems(767px)) and (max-height:px-to-ems(567px)) {
			font-size: px-to-ems(35px);
		}
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(46px);
			line-height: return-ems(53px,46px);
		}
	}
	a {
		color: $color-white;
		text-decoration: none;
		&:hover {
			color: rgb(66,166,188);
		}
	}
	.building & .nav-building a,
	.amenities & .nav-amenities a,
	.views & .nav-views a,
	.apartments & .nav-residences a,
	.availability & .nav-availability a,
	.downtown-brooklyn & .nav-neighborhood a,
	.apply & .nav-apply a,
	.team & .nav-team a,
	.news & .nav-news a,
	.contact & .nav-contact a,
	.floor-plans & .nav-availability a {
		color: rgb(66,166,188);
	}
}
.mobile-contact {
	@include delist;
	display: flex !important;
	margin:0 px-to-ems(18px) px-to-ems(18px);
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	@media (min-width:$break-tablet) {
		display: none !important;
	}
	li {
		width:31%;
	}
	a {
		border:1px solid $color-white;
		color: $color-white;
		display: block;
		font-family: $font-stack-bold;
		font-size: px-to-ems(15px);
		height: return-ems(32px,15px);
		line-height: return-ems(32px,15px);
		text-align: center;
		text-decoration: none;
		text-transform: lowercase;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
.nav-secondary {
	@include clearfix;
	@include delist;
	position: absolute;
	right:px-to-ems(140px);
	top:px-to-ems(17px);
	li {
		display: inline;
	}
	a {
		color: $color-black;
		display: block;
		float: left;
		font-family: $font-stack-bold;
		font-size: 18px;
		margin-left:return-ems(30px,18px);
		text-decoration: none;
		text-transform: lowercase;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		&:hover {
			color: #42a6bc;
		}
	}
	li:first-child a {
		margin-left: 0;
	}
	.availability & .nav-availability a,
	.floor-plans & .nav-availability a,
	.page-contact & .nav-contact a,
	.page-thanks & .nav-contact a {
		color: #42a6bc;
	}

}
/* =Homepage
// ========================================================================== */
#homepage-slide-container {
	position: relative;
	z-index:2;
}
.homepage [role=main] {
	background-color:#4fbfff;
	background-repeat: no-repeat;
	height: px-to-ems(568px);
	padding:px-to-ems(60px) 0 0;
	@media (max-width:layout-ems(555px)) {
		background-image: url(../_img/homepage-mobile-1x.jpg);
		@include image-2x('../_img/homepage-mobile-2x.jpg', 555px, 347px);
		background-position: -54px bottom;
	}
	@media (min-width:layout-ems(501px)) {
		background-position: right bottom;
	}
	@media (min-width:layout-ems(556px)) and (max-width:layout-ems(767px)) {
		background-image: url(../_img/homepage-sm-tablet-1x.jpg);
		@include image-2x('../_img/homepage-sm-tablet-2x.jpg', 768px, 480px);
		background-position: bottom;
		background-size: contain;
	}

	// Vertical Media Queries to Make First Section Full Height of Viewport
	@media (max-width:layout-ems(767px)) {
		@media (min-height:px-to-ems(480px)) and (max-height:px-to-ems(768px)) {
			height: 100vh;
			width: 100%;
		}
	}
	@media (min-device-width : 375px) and (max-device-width : 667px) and (orientation:portrait)
	{
		height: calc(100vh - 50px);
	}
	@media (min-device-width : 414px) and (max-device-width : 736px) and (orientation:portrait)
	{
		height: calc(100vh - 50px);
	}
	@media (min-width:$break-tablet) {
		background-image: url(../_img/homepage-desktop-1x.jpg);
		@include image-2x('../_img/homepage-sm-tablet-2x.jpg', 1280px, 800px);
		background-position: center bottom;
		height: 100%;
		padding:px-to-ems(75px) 0 0;
		@media (max-height:layout-ems(780px)) {
			background-position: center top;
		}
		@media (min-height:layout-ems(920px)) {
			padding-top: px-to-ems(100px);
		}
	}
	@media (min-width:layout-ems(1281px)) {
		background-size:contain;
		@media (max-height:layout-ems(820px)) {
			background-size:cover;
		}
	}
	@media (min-width:layout-ems(1356px)) {
		background-size:cover;
	}
	@media (min-width:$break-tablet) and (min-height:px-to-ems(900px)) and (max-width:$break-desktop) {
		padding-top: 18%;
	}
	@media (min-height:px-to-ems(960px)) and (min-width:$break-tablet) and (max-width:$break-desktop) {
		padding-top: 28%;
	}
	@media (min-width:$break-desktop) and (max-height:767px) {
		height: 100vh;
	}

	h1 {
		@include center;
		background: url(../_img/sprite-1x.png) no-repeat 0 0;
		@include image-2x('../_img/sprite-2x.png', 500px, 800px);
		font-size: 1em;
		height: px-to-ems(110px);
		margin-bottom: px-to-ems(27px);
		overflow: hidden;
		text-indent: -999em;
		width: px-to-ems(284px);
		@media (min-width:$break-tablet) {
			background-position: 0 -205px;
			height: px-to-ems(187px);
			margin-bottom: px-to-ems(51px);
			width: px-to-ems(482px);
			margin-left: 36%;
			margin-right: 0;
		}
		@media (min-width:$break-desktop) {
			margin-top:px-to-ems(14px);
		}
		@media (min-width:$break-tablet) and (max-width:layout-ems(959px)) {
			transform: scale(.75);
		}
		@media (min-width:$break-desktop) and (max-height:layout-ems(768px)) {
		//	transform: scale(.75);
		}
		@media (min-width:px-to-ems(930px)) {
			margin-left: 47.5%;
		}

	}
	.hcard,
	h2 {
		@include center;
		color: $color-white;
		font-family: $font-stack-bold;
		font-size: px-to-ems(21px);
		line-height: return-ems(22px,21px);
		padding-left:return-ems(56px,21px);
		width: return-ems(284px,21px);
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(45px);
			line-height: return-ems(38px,45px);
			padding-left:return-ems(132px,45px);
			margin-left: 36%;
			margin-right: 0;
		}
		@media (min-width:$break-desktop) {
			padding-left:return-ems(96px,45px);
		}
		@media (min-width:$break-tablet) and (max-width:layout-ems(959px)) {
		//	transform: scale(.75);
		}
		@media (min-width:$break-desktop) and (max-height:layout-ems(768px)) {
		//	transform: scale(.75);
		}
		@media (min-width:px-to-ems(930px)) {
			margin-left: 47.5%;
		}
	}
	.street-address {
		display: block;
	}
	.scroll-link {
		@include center;
		background: url(../_img/sprite-1x.png) no-repeat -378px 0;
		@include image-2x('../_img/sprite-2x.png', 500px, 800px);
		display: block;
		height: px-to-ems(13px);
		position: absolute;
		overflow: hidden;
		text-indent: -999em;
		top:px-to-ems(201px);
		right:50%;
		margin-right: px-to-ems(-41px);
		width: px-to-ems(22px);
		@media (min-width:$break-tablet) {
			display: none;
		}
	}
	.promo-banner {
		display: none;
		font-size: px-to-ems(19px);
		letter-spacing: -.02em;
		height: return-ems(62px,19px);
		padding: return-ems(18px,19px) 0 0 return-ems(35px,19px);
		position: absolute;
		left:0;
		top:return-ems(123px,19px);
		width: return-ems(376px,19px);
		@media (min-width:px-to-ems(930px)) {
			background: url(../_img/sprite-1x.png) no-repeat 0 -405px;
			@include image-2x('../_img/sprite-2x.png', 500px, 800px);
			display: block;
			@media (min-height:px-to-ems(900px)) and (max-width:$break-desktop) {
				top:return-ems(236px,19px);
			}
		}
		@media (min-height:px-to-ems(960px)) and (min-width:$break-tablet) and (max-width:$break-desktop) {
			background: url(../_img/sprite-1x.png) no-repeat 0 -405px;
			@include image-2x('../_img/sprite-2x.png', 500px, 800px);
			display: block;
			top:return-ems(100px,19px);
		}
	}
}
.nav-section {
	display: block;
	height: px-to-ems(274px);
	margin-top: px-to-ems(10px);
	position: relative;
	width: 100%;
	&.first-section {
		margin-top: 0;
	}
	@media (max-width:layout-ems(555px)) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media (min-width:layout-ems(556px)) {
		height:auto;
		padding-bottom: 61.71%;
		position: relative;
	}
	@media (min-width:$break-desktop) {
		height: 100%;
		padding:px-to-ems(56px) px-to-ems(36px) 0;
		text-align: center;
	}
	@media (min-width:$break-desktop) and (max-height:767px) {
		height: 100vh;
	}
	&.section-residences {
		@media (max-width:layout-ems(444px)) {
			background: url(../_img/home-residences-mobile-1x.jpg) no-repeat center center;
			@include image-2x('../_img/home-residences-mobile-2x.jpg', 444px, 274px);
		}
		@media (min-width:layout-ems(445px)) and (max-width:layout-ems(767px)) {
			background: url(../_img/home-residences-sm-tablet-1x.jpg) no-repeat center center;
			@include image-2x('../_img/home-residences-sm-tablet-2x.jpg', 768px, 474px);
			background-size: cover;
		}
		@media (min-width:$break-tablet) and (max-width:layout-ems(959px)) {
			background: url(../_img/residences-tablet-1x.jpg) no-repeat center center;
			background-size:cover;
			@include image-2x('../_img/residences-tablet-2x.jpg', cover, null);
		}
		@media (min-width:$break-desktop) {
			background: url(../_img/residences-overlay-1x.jpg) no-repeat center center;
			background-size:cover;
			@include image-2x('../_img/residences-overlay-2x.jpg', cover, null);
		}
	}
	&.section-amenities {
		@media (max-width:layout-ems(444px)) {
			background: url(../_img/home-amenities-mobile-1x.jpg) no-repeat center center;
			@include image-2x('../_img/home-amenities-mobile-2x.jpg', 444px, 274px);
		}
		@media (min-width:layout-ems(445px)) and (max-width:layout-ems(767px)) {
			background: url(../_img/home-amenities-sm-tablet-1x.jpg) no-repeat center center;
			@include image-2x('../_img/home-amenities-sm-tablet-2x.jpg', 768px, 474px);
			background-size: cover;
		}
		@media (min-width:$break-tablet) and (max-width:layout-ems(959px)) {
			background: url(../_img/amenities-tablet-1x.jpg) no-repeat center center;
			background-size:cover;
			@include image-2x('../_img/amenities-tablet-2x.jpg', cover, null);
		}
		@media (min-width:$break-desktop) {
			background: url(../_img/amenities-overlay-1x.jpg) no-repeat center center;
			background-size:cover;
			@include image-2x('../_img/amenities-overlay-2x.jpg', cover, null);
		}
	}
	&.section-building {
		@media (max-width:layout-ems(444px)) {
			background: url(../_img/home-building-mobile-1x.jpg) no-repeat center center;
			@include image-2x('../_img/home-building-mobile-2x.jpg', 444px, 274px);
		}
		@media (min-width:layout-ems(445px)) and (max-width:layout-ems(767px)) {
			background: url(../_img/home-building-sm-tablet-1x.jpg) no-repeat center center;
			@include image-2x('../_img/home-building-sm-tablet-2x.jpg', 768px, 474px);
			background-size: cover;
		}
		@media (min-width:$break-tablet) and (max-width:layout-ems(959px)) {
			background: url(../_img/building-tablet-1x.jpg) no-repeat center center;
			background-size:cover;
			@include image-2x('../_img/building-tablet-2x.jpg', cover, null);
		}
		@media (min-width:$break-desktop) {
			background: url(../_img/building-overlay-1x.jpg) no-repeat center center;
			background-size:cover;
			@include image-2x('../_img/building-overlay-2x.jpg', cover, null);
		}
	}
	&.section-neighborhood {
		@media (max-width:layout-ems(444px)) {
			background: url(../_img/home-neighborhood-mobile-1x.jpg) no-repeat center center;
			@include image-2x('../_img/home-neighborhood-mobile-2x.jpg', 444px, 274px);
		}
		@media (min-width:layout-ems(445px)) and (max-width:layout-ems(767px)) {
			background: url(../_img/home-neighborhood-sm-tablet-1x.jpg) no-repeat center center;
			@include image-2x('../_img/home-neighborhood-sm-tablet-2x.jpg', 768px, 474px);
			background-size: cover;
		}
		@media (min-width:$break-tablet) and (max-width:layout-ems(959px)) {
			background: url(../_img/neighborhood-tablet-1x.jpg) no-repeat center center;
			background-size:cover;
			@include image-2x('../_img/neighborhood-tablet-2x.jpg', cover, null);
		}
		@media (min-width:$break-desktop) {
			background: url(../_img/neighborhood-overlay-1x.jpg) no-repeat center center;
			background-size:cover;
			@include image-2x('../_img/neighborhood-overlay-2x.jpg', cover, null);
		}
	}
	.page-name {
		background: $color-white;
		color: rgb(66,166,188);
		display: inline-block;
		font-family: $font-stack-bold;
		font-size: px-to-ems(40px);
		font-weight: normal;
		height: return-ems(60px,40px);
		letter-spacing: -.04em;
		line-height: return-ems(60px,40px);
		padding:0 return-ems(18px,40px);
		text-decoration: none;
		text-transform: lowercase;
		position: relative;
		z-index:3;
		a {
			color: inherit;
			text-decoration: none;
		}
		@media (min-width:layout-ems(556px)) {
			font-size: px-to-ems(56px);
			height: return-ems(85px,56px);
			line-height: return-ems(85px,56px);
			padding:0 return-ems(25px,56px);
		}
		@media (min-width:layout-ems(556px)) and (max-width:layout-ems(959px)) {
			position: absolute;
			top:50%;
			margin-top: return-ems(-42px,56px);
			left:50%;
		}
		@media (min-width:$break-desktop) {
			font-size: px-to-ems(160px);
			font-weight: 400;
			height: auto;
			line-height: 1;
			position: absolute;
			padding:return-ems(25px,160px);
			text-align: center;
			top:50%;
			margin-top: return-ems(-79px,160px);
			margin-top:return-ems(-80px,160px);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			z-index:3;
			left:50%;
			transform:translateX(-50%);
			@media (max-height:layout-ems(768px)) {
				font-size:px-to-ems(112px);
			}
			@media (min-height:layout-ems(769px)) {
				background: transparent;
				color: $color-white;
				top:calc(50% - 26px);
				a {
					text-shadow: 5px 5px 5px rgba(0,0,0,.2);
					&:hover {
						text-shadow: none;
					}
				}

			}
		}
	}
	@media (max-width:layout-ems(369px)) {
		&.section-neighborhood .page-name {
			height: auto;
			text-align: center;
			line-height: normal;
			padding-top:return-ems(10px,40px);
			padding-bottom:return-ems(10px,40px);
		}
	}
	@media (min-width:layout-ems(370px)) {
		&.section-neighborhood .page-name br {
			display: none;
		}
	}
	@media (min-width:layout-ems(556px)) and (max-width:layout-ems(641px)) {
		&.section-neighborhood .page-name br {
			display: block;
		}
		&.section-neighborhood .page-name {
			height: auto;
			text-align: center;
			line-height: normal;
			margin-left: return-ems(-155px,56px);
			margin-top: return-ems(-77px,56px);
			padding-top:return-ems(10px,56px);
			padding-bottom:return-ems(10px,56px);
		}
	}
	@media (min-width:layout-ems(642px)) {
		&.section-neighborhood .page-name br {
			display: none;
		}
	}
	@media (min-width:layout-ems(642px)) and (max-width:layout-ems(959px)) {
		&.section-neighborhood .page-name {
			margin-left:return-ems(-255px,56px);
		}
	}
	@media (max-width:layout-ems(959px)) {
		&.section-residences .page-name {
			color:#45ba73;
		}
		&.section-amenities .page-name {
			color:#f91b28;
		}
		&.section-neighborhood .page-name {
			color:#004db5;
		}
	}
	@media (min-width:$break-desktop) and (max-height:layout-ems(768px)) {
		&.section-residences .page-name {
			color:#45ba73;
		}
		&.section-amenities .page-name {
			color:#f91b28;
		}
		&.section-neighborhood .page-name {
			color:#004db5;
		}
	}
	@media (min-width:$break-desktop) {
		&.section-neighborhood .page-name {
			margin-top: return-ems(-178px,160px);
			br {
				display: block;
			}
		}
	}
	.see-more {
		display:none;
		@media (min-width:$break-desktop) and (min-height:layout-ems(769px)) {
			background: url(../_img/sprite-1x.png) no-repeat -116px -490px;
			@include image-2x('../_img/sprite-2x.png', 500px, 800px);
			display:block;
			position: relative;
			cursor: pointer;
			display: inline-block;
			height: px-to-ems(86px);
			overflow: hidden;
			position: absolute;
			right:px-to-ems(38px);
			text-indent: -999em;
			top:50%;
			margin-top: px-to-ems(-39px);
			width:px-to-ems(86px);
			z-index:3;
			&:hover {
				background-position: 0 -599px;
			}
		}
	}
	.page-name:hover + .see-more {
		@media (min-width:$break-desktop) {
			background-position: 0 -599px;
		}
	}
	&.section-building .see-more {
		@media (min-width:$break-desktop) and (min-height:layout-ems(769px)) {
			margin-left: 0;
			width:px-to-ems(86px);
		}
	}
	&.section-building .page-name {
		@media (min-width:layout-ems(556px)) and (max-width:layout-ems(959px)) {
			margin-left: return-ems(-118px,56px);
		}
	}
	&.section-residences .see-more {
		@media (min-width:$break-desktop) and (min-height:layout-ems(769px)) {
			background-position: -226px -490px;
			margin-left: 0;
			width:px-to-ems(86px);
			&:hover {
				background-position: 0 -599px;
			}
		}
	}
	&.section-residences .page-name {
		@media (min-width:layout-ems(556px)) and (max-width:layout-ems(959px)) {
			margin-left: return-ems(-152px,56px);
		}
	}
	&.section-amenities .see-more {
		@media (min-width:$break-desktop) and (min-height:layout-ems(769px)) {
			background-position: 0 -493px;
			margin-left: return-ems(6px,28px);
			width:px-to-ems(86px);
			&:hover {
				background-position: 0 -599px;
			}
		}
	}
	&.section-amenities .page-name {
		@media (min-width:layout-ems(556px)) and (max-width:layout-ems(959px)) {
			margin-left: return-ems(-138px,56px);
		}
	}
	&.section-neighborhood .see-more {
		@media (min-width:$break-desktop) and (min-height:layout-ems(769px)) {
			background-position: -326px -490px;
			margin-left: 0;
			height: px-to-ems(86px);
			width: px-to-ems(86px);
			&:hover {
				background-position: 0 -599px;
			}
		}
	}
	.hover-overlay {
		position: absolute;
		opacity: 0;
		top:0;
		bottom:0;
		left:0;
		right:0;
		z-index:2;
		-webkit-transition: .25s opacity ease-in;
		-moz-transition: .25s opacity ease-in;
		-ms-transition: .25s opacity ease-in;
		transition: .25s opacity ease-in;
	}
	&.section-building .hover-overlay {
		background:url(../_img/opaque-blue.png) repeat;
	}
	&.section-residences .hover-overlay {
		background:url(../_img/opaque-green.png) repeat;
	}
	&.section-amenities .hover-overlay {
		background:url(../_img/opaque-red.png) repeat;
	}
	&.section-neighborhood .hover-overlay {
		background:url(../_img/opaque-deep-blue.png) repeat;
	}
	.see-more:hover + .hover-overlay,
	.page-name:hover + .see-more + .hover-overlay {
		opacity: 1;
	}
	.hover-description {
		bottom:return-ems(136px,26px);
		color: $color-white;
		display: none;
		font-size: px-to-ems(26px);
		letter-spacing: -.04em;
		line-height: return-ems(30px,26px);
		position: absolute;
		left:50%;
		margin-left: return-ems(-265px,26px);
		text-align: center;
		top:calc(50% + 150px);
		width:return-ems(530px,26px);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@media (min-width:$break-desktop) and (min-height:layout-ems(769px)) {
			display: block;
		}
	}
}

/* =Main Page Layout
// ========================================================================== */
.main-layout-page {
	@media (min-width:$break-desktop) {
		overflow-x: hidden;
	}
}
.main-layout {
	width: 100%;
	@media (min-width:$break-desktop) {
		height: 100% !important;
		position: relative;
		z-index:2;
		.js & {
			overflow: hidden;
		}
		.no-js & {
			height: auto;
		}
		.js .downtown-brooklyn &,
		.js .amenities & {
			height: calc(100% - 45px) !important;
		}
	}
}
#home-dot-nav {
	display: none;
	@media (min-width:$break-desktop) {
		display: block;
	}
	@media (min-width:$break-desktop) and (max-height:layout-ems(768px)){
		display: none;
	}
}
#tablet-dot-nav {
	display: none;
	@media (min-width:$break-desktop) and (max-height:layout-ems(768px)){
		display: block;
	}
}
.dot-nav {
	@media (min-width:$break-desktop) {
		@include delist;
		position: fixed;
		left:px-to-ems(9px);
		margin-top: px-to-ems(-18px);
		top:50%;
		text-align: center;
		z-index:2;
		.no-js & {
			display: none;
		}
		li {
			display: inline-block;
			margin-left: px-to-ems(32px);
			&:first-child {
				margin-left:0;
			}
			.homepage & {
				display: block;
				margin-left:0;
				margin-top: px-to-ems(8px);
				width: px-to-ems(14px);
					&:first-child {
					margin-top: 0;
				}
			}
		}
		body:not(.homepage) & {
			a {
				color:$color-white;
				font-size: px-to-ems(15px);
				text-decoration: none;
				text-transform: lowercase;
				&:hover {
					color: $color-blue;
				}
			}
		}
		.homepage & {
			a {
				background: transparent;
				border:2px solid $color-white;
				border-radius: 50%;
				cursor: pointer;
				display: block;
				height: px-to-ems(14px);
				overflow: hidden;
				text-indent: -999em;
				width: px-to-ems(14px);
				.homepage & {
					border-color: $color-white;
				}
				&:hover {
					background: $color-white;
				}
			}
			.active a {
				background:$color-white;
			}
		}
	}
	@media (min-width:$break-desktop) and (max-height:767px) {
	//	display: none;
	}
}
.slide-nav {
	display: none;
	@media (min-width:$break-desktop) {
		@include delist;
		display: block;
		position: absolute;
		left:0;
		right:0;
		top:px-to-ems(64px);
		text-align: center;
		z-index:2;
		.downtown-brooklyn &.bottom-section {
			right:0;
		}
		li {
			display: inline-block;
			margin-left: px-to-ems(32px);
			&:first-child {
				margin-left:0;
			}
		}
		a,span {
			color:$color-white;
			font-size: px-to-ems(15px);
			text-decoration: none;
			text-transform: lowercase;

		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			font-family: $font-stack-bold;
		}
		&.bottom-section {
			a,span {
				color: #939598;
				text-transform: lowercase;
			}
		}
		.downtown-brooklyn &.bottom-section {
			span {
				color: $color-black;
			}
		}
	}
}
#layout-container {
	position: relative;
	z-index:2;
	&.fp-destroyed {
		top:0 !important;
	}
	@media (min-width:$break-desktop) {
		height: 100%;
		.no-js & {
			height: auto;
		}
	}
}
.content-container {
	background: $color-white;
	margin-top: px-to-ems(30px);
	position: relative;
	z-index:2;
	@media (min-width:$break-tablet) {
		margin-top: 0;
		padding:px-to-ems(56px) 0 0;
		height: 100%;
		.no-js & {
			height: auto;
		}
	}
}
.introduction {
	color: $color-blue;
	background: $color-white;
	padding: px-to-ems(30px) px-to-ems(18px);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (max-width:layout-ems(959px)) {
		.amenities & {
			color: #f91b28;
		}
		.apartments & {
			color: #45ba73;
		}
		.downtown-brooklyn & {
			color: #004db5;
		}
	}
	@media (min-width:$break-desktop) {
		background: transparent;
		color:$color-white;
		position: absolute;
		top:px-to-ems(35px);
		left:px-to-ems(36px);
		padding:0;
		z-index:1;
	}
}
#slider-content {
	@media (min-width:$break-desktop) {
		background:$color-black;
		padding:px-to-ems(36px) 0;
		position: relative;
		.slick-arrow {
			background:url(../_img/arrow-1x.png) no-repeat;
			@include image-2x('../_img/arrow-2x.png', 750px, 30px);
			border:0;
			bottom:0;
			display: block;
			padding: 0;
			position: absolute;
			text-indent: -999em;
			top:0;
			width:px-to-ems(120px);
			z-index:2;
		}
		.slick-prev {
			background-position: -479px center;
			left:0;

		}
		.slick-next {
			background-position: -648px center;
			right:0;
		}
		.js & {
			height: calc(100% - 45px);
			padding: 0;
		}
		.js .amenities &,
		.js .downtown-brooklyn & {
			height: 100%;
		}
		.js .main-layout & {
			transition:.5s all ease-in;
			width:100%;
			&.slide {
				transform: translateX(-100%);
				z-index:2;
			}
		}
	}
}
.views-slider {
	img {
		width: 100%;
	}
	.image-container {
		height: 100%;
	}
	.slick-arrow {
		bottom:auto !important;
		height: 100%;
	}
	figcaption {
		margin-bottom: px-to-ems(38px);
	}
	@media (min-width:$break-tablet) {
		height: 100%;
		padding-bottom: 7%;
		.no-js & {
			padding-bottom: 0;
			.slide {
				margin-bottom: px-to-ems(16px);
			}
		}
		.slick-track {
			height: 100%;
		}
		.slick-list {
			height: calc(100% - 16px);
			margin-bottom: px-to-ems(16px);
		}
		figure {
			position: relative;
		}
		figcaption {
			color: $color-white;
			font-size: px-to-ems(16px);
			position: absolute;
			margin-bottom: 0;
			left:px-to-ems(15px);
			bottom:px-to-ems(8px);
		}

	}
	@media (min-width:$break-desktop) {
		.slide {
			height: 100%;
			figure {
				height: 100%;
			}
			img {
				height: 100%;
			    width: 100%;
			    object-fit: cover;
			}
		}
	}
}
.views-slider-nav {
	display: none;
	@media (min-width:$break-tablet) {
		@include delist;
		@include clearfix;
		display: block;
		position: absolute !important;
		bottom:0;
		left:px-to-ems(27px);
		right:px-to-ems(27px);
		li {
			padding:0 px-to-ems(9px);
			img {
				border:4px solid transparent;
			}
		}
		.slick-current img {
			border-color:#42a6bc;
		}
		.slick-prev {
			left:-27px !important;
		}
		.slick-next {
			right:-27px !important;
		}
	}
}
.slide-back {
	display: none;
	@media (min-width:$break-desktop) {
		background: url(../_img/sprite-1x.png) no-repeat -326px -30px;
		@include image-2x('../_img/sprite-2x.png', 500px, 800px);
		cursor: pointer;
		height: px-to-ems(18px);
		position: absolute;
		top:px-to-ems(30px);
		right:px-to-ems(58px);
		width: px-to-ems(18px);
		z-index:8;
		.js & {
			display: block;
		}
	}
}
.page-title {
	font-family: $font-stack-bold;
	font-size:px-to-ems(40px);
	font-weight: normal;
	letter-spacing: -.04em;
	line-height: return-ems(49px,40px);
	margin-bottom: return-ems(8px,40px);
	text-transform: lowercase;
	@media (min-width:$break-tablet) {
		font-size: px-to-ems(46px);
		line-height: return-ems(55px,46px);
		margin-bottom: return-ems(15px,46px);
	}
}
.page-description {
	font-family: $font-stack-bold;
	font-size: px-to-ems(20px);
	letter-spacing: -.04em;
	line-height: return-ems(22px,20px);
	@media (min-width:$break-tablet) {
		font-size: px-to-ems(24px);
		line-height: return-ems(30px,24px);
		width:return-ems(360px,24px);
	}
}

.amenities,
.downtown-brooklyn {
	.scroll-link {
		display: inline-block;
		font-family: $font-stack-bold;
		font-size: px-to-ems(23px);
		height: return-ems(38px,23px);
		line-height: return-ems(38px,23px);
		margin-top:return-ems(48px,23px);
		text-align: center;
		text-decoration: none;
		text-transform: lowercase;
		width:return-ems(136px,23px);
	}
}
.amenities {
	.scroll-link {
		@media (min-width:$break-desktop){
			display:inline-block;
		}
		border:2px solid #F91B28;
		color: #F91B28;
		@media (min-width:$break-desktop) {
			background: $color-white;
			border:0;
			&:hover {
				background:#F91B28;
				color:$color-white;
			}
		}
	}
}
.downtown-brooklyn {
	.scroll-link {
		border:2px solid #004DB5;
		color: #004DB5;
		width:return-ems(192px,23px);
		@media (min-width:$break-desktop) {
			background: $color-white;
			border:0;
			&:hover {
				background:#004DB5;
				color:$color-white;
			}
		}
	}
}
.the-slider {
	height: 100%;
	.slick-list,
	.slick-track {
		height: 100%;
	}
	.slide {
		&:not(:first-child) {
			margin-top: px-to-ems(27px);
			@media (min-width:$break-tablet) {
				margin-top: 0;
			}
		}
		@media (min-width:$break-tablet) {
			height: 100%;
			margin-right: px-to-ems(36px);
			width:100vw;
		}
		@media (min-width:$break-desktop) {
			position: relative;
		}
		figure {
			position: relative;
			@media (min-width:$break-tablet) {
				height: 100%;
			}
		}
		.image-container {
			@media (min-width:$break-tablet) {
				width:100%;
				&.compat-object-fit {
					background-size: cover;
					background-position: center center;
					img {
						opacity: 0;
					}
				}
			}
			@media (min-width:$break-desktop) {
			//	height: calc(100% - 60px);
				height: 100%;
			}
		}

		// Probably need to refactor for tablet
		@media (min-width:$break-desktop) {
			figure {
				margin: 0 auto;
			}
			&.ratio1 figure {
				width: 67.5vw;
			}
			&.ratio2 figure{
				width: 50vw;
			}
			&.ratio3 figure {
				width: 84.375vw;
			}
			&.ratio4 figure {
				width:94.375vw;
			}
		}
		img {
			width:100%;
			@media (min-width:$break-tablet) {
				height: 100%;
				object-fit:cover;
			}
		}
		figcaption {
			color:$color-black;
			font-size: px-to-ems(13px);
			line-height: return-ems(16px,13px);
			margin-top: return-ems(12px,13px);
			padding:0 return-ems(18px,13px);
			@media (min-width:$break-tablet) {
				font-size: px-to-ems(16px);
				line-height: return-ems(20px,16px);
				margin-top: 0;
				padding:return-ems(10px,16px) return-ems(18px,16px);
			}
			@media (min-width:$break-desktop) {
				color:$color-white;
				height: auto;
				position: absolute;
				left: 35px;
				right: 10px;
				bottom: 10px;
				padding: 10px 0;
				text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
			}
		}
		&.first-slide {
			@media (min-width:$break-desktop) {
				figcaption {
					left: 35px;
				}
			}
		}
	}
}
#content-secondary {
	padding:px-to-ems(34px) px-to-ems(18px);
	.downtown-brooklyn & {
		background: #e0e0e0;
		margin-top: px-to-ems(27px);
	}
	.amenities & {
		background:$color-white;
	}
	
	@media (min-width:$break-tablet) {
		padding-top:px-to-ems(72px);
		margin-bottom: px-to-ems(44px);
		.downtown-brooklyn & {
			padding: px-to-ems(126px) px-to-ems(35px) px-to-ems(45px);
			margin-top: 0;
		}
	}
	@media (min-width:$break-desktop) {
		padding:0;
		height: 100% !important;
		overflow: hidden;
		transition:.5s all ease-in;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top:px-to-ems(56px);
		position: relative;
		width:100%;
		.js & {
			position: absolute;
			bottom:100%;
			z-index:2;
			&.show {
				bottom:0;
			}
		} 
	}
	@media (min-width:$break-desktop) and (max-height:layout-ems(799px)) {
		overflow: scroll;
	}

}
#amenity-illustration {
	height: 100%;
	position: relative;
	@media (min-width:$break-desktop) {
		height:calc(100% - 45px);
		padding:px-to-ems(35px) px-to-ems(36px) 0;
		position: relative;
	}
	.section-heading {
		@media (max-width:layout-ems(767px)) {
			display: none;
		}
		font-size: px-to-ems(36px);
		letter-spacing: -.04em;
		line-height: return-ems(38px,36px);
		margin-bottom: return-ems(39px,36px);
		max-width: return-ems(430px,36px);
		@media (min-width:$break-desktop) {
			float: left;
			width: 32.75%;
		}
	}
}
#amenities-slider {
	height: 0;
	padding-bottom: 84.6%;
	position: relative;
	width:100%;
	@media (min-width:$break-tablet) {
		height: px-to-ems(555px);
		padding-bottom: 0;
	}
	@media (min-width:$break-desktop) {
		float: right;
		margin-right: 13.9%;
		width:51.25%;
	}
	@media (min-width:$break-desktop) and (max-height:layout-ems(830px)) {
		height: calc(100vh - 136px);
	}
	figure {
		opacity: 0;
		position: absolute;
		top:0;
		left:0;
		right:0;
		z-index:1;
		text-align: center;
		transition:.5s opacity ease-in;
		&.active {
			opacity: 1;
			z-index:2;
		}
		@media (min-width:$break-desktop) and (max-height:layout-ems(830px)) {
			height: calc(100vh - 176px);
			width: auto;
		}
	}
	img {
		@media (min-width:$break-desktop) {
			max-width: none;
			width: 100%;
		}
		@media (min-width:$break-desktop) and (max-height:layout-ems(830px)) {
			height: calc(100vh - 196px);
			width: auto;
		}
	}
	figcaption {
		font-size:px-to-ems(13px);
		line-height: return-ems(16px,13px);
		@media (min-width:$break-tablet) {
			font-size:px-to-ems(16px);
			line-height: return-ems(20px,16px);
		}
	}
}
.amenities-arrows {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 84.6%;
	z-index: 999;
	span {
		height: 100%;
		width: 50%;
		position: absolute;
		top: 0;
		text-indent: -9999em;
		&.arrow-left {
			background: url(../_img/amenties-arrow-1x.png) no-repeat left center;
			@include image-2x('../_img/amenties-arrow-2x.png', 750px, 30px);
			left: 0;
		}
		&.arrow-right {
			background: url(../_img/amenties-arrow-1x.png) no-repeat right center;
			@include image-2x('../_img/amenties-arrow-2x.png', 750px, 30px);
			right: 0;
		}
	}
	@media (min-width:$break-desktop) {
		display: none;
	}
}
#amenities-slider-nav {
	@include delist;
	margin-top: px-to-ems(45px);
	text-align: center;
	@media (min-width:$break-desktop) {
		text-align: left;
		width: px-to-ems(285px);
	}
	li {
		display: inline-block;
		&:not(:first-child) {
			margin-left: px-to-ems(3px);
		}
		@media (min-width:$break-desktop) {
			display: inline;
			font-family: $font-stack-bold;
			font-size: px-to-ems(22px);
			letter-spacing: -.04em;
			line-height: return-ems(26px,22px);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			&:not(:first-child) {
				margin-left: 0;
			}
		}
	}
	span {
		display: none;
		@media (min-width:$break-desktop) {
			display: inline;
		}
	}
	a {
		background: $color-white;
		border:1px solid #bcbdc0;
		border-radius: 50%;
		color: $color-black;
		display: block;
		height: px-to-ems(10px);
		overflow: hidden;
		text-indent: -999em;
		width: px-to-ems(10px);
		@media (min-width:$break-desktop) {
			background: transparent;
			border:0;
			display: inline;
			height: auto;
			text-indent: 0;
			width: auto;
		}
	}
	.active a {
		background:#bcbdc0;
		@media (min-width:$break-desktop) {
			background:transparent;
			color: $color-blue;
		}
	}
}

.map-container {
	@media (min-width:$break-desktop) {
		@include clearfix;
	}
	.map {
		margin-bottom: px-to-ems(22px);
		img {
			max-width:none;
			width:100%;
		}
		@media (min-width:$break-desktop) {
			float:left;
			height: calc(100vh - 186px);
			margin-bottom: 0;
			margin-top: px-to-ems(-61px);
			width:55%;
			img {
				max-height: calc(100vh - 186px);
				max-width:100%;
				width:auto;
			}
		}
	}
	.map-content {
		h2 {
			font-family: $font-stack-bold;
			font-size: px-to-ems(40px);
			font-weight: 400;
			line-height: 1;
			margin-bottom: return-ems(15px,40px);
			text-transform: lowercase;
			@media (min-width:$break-tablet) {
				font-size: px-to-ems(46px);
				margin-bottom: return-ems(15px,46px);
			}
			@media (min-width:$break-desktop) {
				float: right;
				width: 42%;
			}
		}
	}
	.accordion {
		border-bottom:1px solid #939598;
		padding:px-to-ems(6px) 0;
		&.boerum-hill {
			border-top:1px solid #939598;
		}
	}
	.accordion-header {
		color: #939598;
		cursor: pointer;
		font-size: px-to-ems(16px);
		font-weight: normal;
		position: relative;
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(18px);
		}
		&:after {
			background: url(../_img/sprite-1x.png) no-repeat -481px -555px;
			@include image-2x('../_img/sprite-2x.png', 500px, 800px);
			content: '';
			position: absolute;
			right:0;
			top:50%;
			margin-top:px-to-ems(-5px);
			height: px-to-ems(10px);
			width: px-to-ems(17px);

		}
	}
	.toggled {
		.accordion-header {
			color: #004db5;
			&:after {
				background-position: -481px -516px;
			}
		}
	}
	.accordion-content {
		padding-top:px-to-ems(6px);
		ol {
			@include delist;
			column-count:2;
			column-gap:px-to-ems(20px);
		}
		li {
			font-size: px-to-ems(14px);
			line-height: return-ems(20px,14px);
		}
	}
}
.map-teaser {
	font-family: $font-stack-bold;
	font-size: px-to-ems(20px);
	line-height: return-ems(22px,20px);
	margin-bottom: return-ems(22px,20px);
	@media (min-width:$break-tablet) {
		font-size: px-to-ems(24px);
		line-height: return-ems(30px,24px);
		margin-bottom: 0;
		padding-bottom: return-ems(30px,24px);
	}
	@media (min-width:$break-desktop) {
		float:right;
		clear:right;
		width: 42%;
	}
}
.map-accordion {
	@media (min-width:$break-desktop) {
		float:right;
		clear:right;
		width: 42%;
	}
}

/* =Availability Listing
// ========================================================================== */
#availability {
	background:$color-black;
	position: relative;
}
#availability-content {
	padding: px-to-ems(114px) px-to-ems(18px) px-to-ems(36px);
	position: relative;
	z-index:2;
	@media (min-width:$break-tablet) {
		min-height: calc(100vh - 45px);
		padding: px-to-ems(80px) px-to-ems(35px) px-to-ems(36px);
	}
}
#availability-filter-mobile {
	position: absolute;
	left:px-to-ems(28px);
	right:px-to-ems(28px);
	top:px-to-ems(60px);
	@media (min-width:$break-tablet) {
		display: none;
	}
	select {
		background: url(../_img/sprite-1x.png) no-repeat right 15px top -699px;
		@include image-2x('../_img/sprite-2x.png', 500px, 800px);
		border:1px solid $color-white;
		color:$color-white;
		font-size: px-to-ems(20px);
		height: return-ems(35px,20px);
		padding:0 return-ems(15px,20px);
		text-transform: lowercase;
		-webkit-appearance: none;
		width:100%;
	}
}
#availability-filter {
	@include clearfix;
	@include center;
	color:$color-white;
	display: none;
	margin:px-to-ems(20px) 0;
	z-index:2;
	@media (min-width:$break-tablet) {
		display: block;
	}
	ol {
		@include delist;
		display: inline-block;
		li {
			float: left;
			margin-right:return-ems(10px,20px);
			span {
				cursor: pointer;
				border:1px solid $color-white;
				color: $color-white;
				display: block;
				font-size: px-to-ems(20px);
				padding:return-ems(6px,20px) return-ems(15px,20px);
				text-transform: lowercase;
			}
			&:hover span,
			&.active span {
				background: $color-white;
				color:$color-black;
			}
		}
	}
	h3 {
		float:left;
		font-size: px-to-ems(20px);
		line-height: return-ems(34px,20px);
		margin-right: return-ems(15px,20px);
		text-transform: lowercase;
	}
}
#availability-listing {
	@media (min-width:layout-ems(600px)) {
		display: -ms-flex;
		display: flex;
		-ms-flex-direction:row;
		flex-direction: row;
		-ms-flex-pack:justify;
		justify-content: space-between;
		-ms-flex-wrap:wrap;
		flex-wrap: wrap;
		// Fix so that the last element lines up correctly in the grid
		&:after {
			content: '';
			display: block;
			margin-left: calc(50% - 11px);
			@media (min-width:layout-ems(1080px)) {
				margin-left: calc(33.333% - 14px);
			}
		}
	}
	article {
		background:$color-white;
		padding:px-to-ems(9px);
		border: 1px solid white;
		margin-bottom: px-to-ems(18px);
		// Remove or refactor when they decide to show more than 6
		&:nth-child(n+6):nth-last-child(2) {
			display: none !important;
		}
		&.promotional-tile {
			border-width:14px;
			background-color: $color-blue;
			background-size:cover !important;
			clear:none !important;
			color:$color-white;
			margin-right: 0 !important;
			padding: 0;
			position: relative;
			&:before {
				content:'';
				display: block;
				height: 0;
				padding-bottom: 47.51%;
			}
			&:after {
				content:'';
				display: block;
				height: px-to-ems(83px);
				@media (min-width:$break-tablet) {
					height: px-to-ems(91px);
				}
			}
			&:hover {
				border-color: $color-white;
				border-width:14px;
			}
		}
		.promo-text {
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			left:px-to-ems(13px);
			right:px-to-ems(13px);
			text-align: center;
			font-size: px-to-ems(42px);
			line-height: return-ems(48px,42px);
			text-transform: lowercase;
		}
		figure {
			img {
				display: block;
			}
		}
		a {
			color: inherit;
			display: block;
			text-decoration: none;
			&:hover {
				color: $color-blue;
			}
		}
		@media (min-width:layout-ems(600px)) {
			width:calc(50% - 11px);
		}
		@media (min-width:$break-tablet) {
			padding:px-to-ems(13px);
		}
		@media (min-width:layout-ems(1080px)) {
			width: calc(33.333% - 14px);
		}
/*		@media (min-width:layout-ems(1480px)) {
			width: calc(25% - 21px);
		} */
		.listing-title,
		.listing-details {
			font-size: px-to-ems(15px);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			@media (min-width:$break-tablet) {
				font-size: px-to-ems(20px);
			}
			
		}
		.listing-title {
			font-weight: normal;
			line-height: return-ems(23px,15px);
			margin-bottom: return-ems(15px,15px);
			@media (min-width:$break-tablet) {
				line-height: return-ems(32px,20px);
				margin-bottom: return-ems(16px,32px)
			}
		}
		.listing-details {
			@include clearfix;
			@include delist;
			line-height: return-ems(18px,15px);
			font-family: $font-stack-bold;
			li {
				float: right;
				text-align: right;
				width: 48%;
			}
			li:first-child {
				float:left;
				text-align: left;
			}
			@media (min-width:$break-tablet) {
				line-height: return-ems(24px,20px);
			}
		}
		.listing-price {
			span {
				font-family: $font-stack-default;
				font-size: 80%;
				text-transform:lowercase;
			}
		}
		&:hover {
			border: 1px solid $color-blue;
			.listing-title,
			.listing-details {
				color: $color-blue;
			}
		}
		.price {
			float: right;
		}

	}
	figure {
		position: relative;
		margin-bottom: px-to-ems(9px);
		@media (min-width:$break-tablet) {
			margin-bottom: 0;
		}
	}
	.special {
		background:rgb(143,214,229);
		font-size: px-to-ems(14px);
		line-height: return-ems(22px,14px);
		height: return-ems(22px,14px);
		padding:0 return-ems(4px,14px);
		position: absolute;
		left:0;
		right:0;
		bottom:0;
		color: $color-black;
	}
}
/* =Available Unit Single Page
// ========================================================================== */
.unit-information {
	padding-top:px-to-ems(40px);
	position: relative;
	z-index:2;
	@media (max-width:layout-ems(767px)) {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction:column;
		flex-direction: column;
		.slick-slider {
			order:1;
		}
		.unit-container {
			order:2;
		}
		.back-link {
			margin-top: px-to-ems(20px);
			order:4;
		}
		.unit-views-slider {
			order:3;
		}
	}
	.slick-dots {
		@include delist;
		margin-top:px-to-ems(10px);
		text-align: center;
		li {
			display: inline-block;
			margin-left:px-to-ems(6px);
			&:first-child {
				margin-left: 0;
			}
		}
		button {
			background: $color-white;
			border:1px solid #bcbdc0;
			border-radius: 50%;
			display: block;
			height: px-to-ems(10px);
			overflow: hidden;
			padding:0;
			text-indent: -999em;
			width: px-to-ems(10px);
		}
		.slick-active button {
			background: #bcbdc0;
		}
	}
	.slick-arrow {
		background: url(../_img/arrow-1x.png) no-repeat;
		@include image-2x('../_img/arrow-2x.png', 750px, 30px);
		border:0;
		display: block;
		height: px-to-ems(29px);
		position: absolute;
		top:50%;
		margin-top: px-to-ems(-15px);
		padding: 0;
		text-indent: -999em;
		width: px-to-ems(21px);
		z-index:1;
	}
	.slick-prev {
		background-position: -316px 0;
		left:px-to-ems(6px);
	}
	.slick-next {
		background-position: -440px 0;
		right:px-to-ems(6px);
	}
	.back-link {
		@include clearfix;
		margin-bottom: px-to-ems(10px);
		text-align: center;
		a {
			background: url(../_img/sprite-1x.png) no-repeat -470px -47px;
			@include image-2x('../_img/sprite-2x.png', 500px, 800px);
			display: inline-block;
			color: $color-blue;
			font-size: px-to-ems(14px);
			height: return-ems(16px,14px);
			padding-left: return-ems(34px,14px);
			text-decoration: none;
			text-transform: lowercase;
			@media (min-width:$break-tablet) {
				background-position: -470px 0;
				font-size: px-to-ems(16px);
				height: return-ems(18px,16px);
				padding-left: return-ems(34px,16px);
			}
			@media (min-width:$break-desktop) {
				position: absolute;
				top:0;
				right:px-to-ems(36px);
			}
			@media (min-width:layout-ems(1280px)) {
				right:calc(50% - 604px);
			}
		}
	}
}
.unit-slider {
	margin-bottom: px-to-ems(20px);
	@media (min-width:$break-tablet) {
		margin-bottom: px-to-ems(34px);
	//	padding:0 px-to-ems(34px) px-to-ems(34px);
	}
	img {
		width: 100%;
		max-width: none;
	}
}
.unit-title,
.unit-size,
.unit-price {
	font-size: px-to-ems(20px);
	font-weight: normal;
	letter-spacing: -.04em;
	line-height:return-ems(23px,20px);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (min-width:$break-tablet) {
		font-size: px-to-ems(40px);
		line-height: return-ems(46px,40px);
	}
}
.unit-size,
.unit-price {
	font-family: $font-stack-bold;
}
.availability-date {
	font-size: return-ems(15px,20px);
	text-transform: lowercase;
}
.unit-price span {
	text-transform: lowercase;
}
.unit-special {
	color:rgb(115,115,115);
	font-size: px-to-ems(10px);
	line-height: return-ems(15px,10px);
	@media (min-width:$break-tablet) {
		font-size: px-to-ems(16px);
		line-height: return-ems(25px,16px);
	}
}
.unit-description {
	font-size: px-to-ems(13px);
	line-height: return-ems(16px,13px);
	ul {
		list-style-type: circle;
		margin: return-ems(19px,13px) 0 return-ems(40px,13px);
		padding-left: return-ems(14px,13px);
	}
	@media (min-width:$break-tablet) {
		font-size: px-to-ems(16px);
		line-height: return-ems(19px,16px);
		ul {
			margin: return-ems(34px,16px) 0 return-ems(44px,16px);
			padding-left: return-ems(16px,16px);
		}
	}
}
.unit-download-plan {
	margin-bottom: px-to-ems(40px);
	text-align: center;
	@media (min-width:$break-tablet) {
		margin-bottom: px-to-ems(135px);
	}
	a {
		border:1px solid $color-blue;
		color: $color-blue;
		display: block;
		font-family: $font-stack-bold;
		font-size: px-to-ems(15px);
		line-height: return-ems(32px,15px);
		height: return-ems(32px,15px);
		text-decoration: none;
		text-transform: lowercase;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		width:100%;
		&:hover {
			background: $color-blue;
			color: $color-white;
		}
		@media (min-width:$break-tablet) {
			border-width: 2px;
			font-size: px-to-ems(22px);
			height: return-ems(50px,22px);
			line-height: return-ems(50px,22px);
			margin:0 auto;
			width: return-ems(286px,22px);
		}
		@media (min-width:$break-desktop) {
			margin:0;
		}
	}
}
.unit-container {
	padding: px-to-ems(30px) px-to-ems(18px) px-to-ems(18px);
	@media (min-width:$break-tablet) {
		padding: px-to-ems(44px) px-to-ems(36px) px-to-ems(35px);
	}
	@media (min-width:$break-desktop) {
		@include clearfix;
		position: relative;
		&:before {
			content: '';
			display: block;
			float: right;
			height: 0;
			padding-bottom: 71.68%;
			width: px-to-ems(1px);
		}
	}
	@media (min-width:layout-ems(1280px)) {
		margin-left:calc(50% - 604px);
		margin-right:calc(50% - 604px);
	}
}
.unit-floor-plan {
	margin:0 px-to-ems(23px) px-to-ems(30px);
	@media (min-width:$break-tablet) {
		margin-bottom: px-to-ems(44px);
		padding: 0 9.43%;
	}
	@media (min-width:$break-desktop) {
		position: absolute;
		right:0;
		top:px-to-ems(200px);
		width: 49%;
	}
	.image {
		position: relative;
	}
	img {
		width: 100%;
	}
	.no-furniture {
		opacity:1;
		&.hide {
			opacity:0;
		}
	}
	.furniture {
		position: absolute;
		left:0;
		right:0;
		top:0;
		opacity: 0;
		&.show {
			opacity:1;
		}
	}
	.plan-changer {
		color: #808285;
		font-size: px-to-ems(16px);
		line-height: return-ems(19px,16px);
		margin-top: return-ems(15px,16px);
		text-align: right;
		text-transform: lowercase;
		span.active,
		span:hover {
			color: $color-blue;
		}
		span {
			cursor: pointer;
		}
		@media (max-width:layout-ems(767px)) {
			display: none;
		}
	}

}
.unit-views-slider {
	figcaption {
		display: block;
		font-size: px-to-ems(13px);
		line-height: return-ems(16px,13px);
		margin-top: return-ems(10px,13px);
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(16px);
			line-height: return-ems(20px,16px);
			margin-top: return-ems(10px,16px);
		}
	}
}
@media (min-width:$break-tablet) {
	.apartment-info {
		float:left;
	}
	.apartment-pricing {
		float: right;
	}
	.unit-description {
		clear:left;
		padding-top:px-to-ems(34px);
	}
}
@media (min-width:$break-desktop) {
	.apartment-info,
	.unit-description {
		width:px-to-ems(425px);
	}
	.apartment-pricing {
		float:left;
		margin-left: px-to-ems(60px);
	}
}

/* =Single Page
// ========================================================================== */
.single-page .content-main {
	background: #e0e0e0;
	padding: px-to-ems(97px) px-to-ems(18px) px-to-ems(18px);
	position: relative;
	z-index:2;
	@media (min-width:$break-tablet) {
		@include clearfix;
		min-height: calc(100vh - 45px);
		padding: px-to-ems(100px) px-to-ems(36px) px-to-ems(60px);
	}
	@media (min-width:layout-ems(1280px)) {
		padding-left:calc(50% - 604px);
		padding-right:calc(50% - 604px);
	}
	h2 {
		font-family: $font-stack-bold;
		font-size: px-to-ems(38px);
		margin-bottom: 1.5em;
		text-transform: lowercase;
		@media (min-width:$break-desktop) {
			font-size: px-to-ems(46px);
		}
	}
	h3 {
		font-family: $font-stack-bold;
		font-size: px-to-ems(20px);
		font-weight: normal;
		line-height:return-ems(23px,20px);
		margin-bottom: return-ems(23px,20px);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(28px);
			line-height: return-ems(30px,28px);
			margin-bottom: return-ems(30px,28px);
		}
	}
	p + h3 {
		margin-top:return-ems(46px,20px);
		@media (min-width:$break-tablet) {
			margin-top: return-ems(60px,28px);
		}

	}
	h4 {
		font-size: px-to-ems(13px);
		font-weight: normal;
		line-height: return-ems(16px,13px);
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(16px);
			line-height: return-ems(19px,16px);
		}
	}
	ul {
		margin:0;
		padding:0 0 0 px-to-ems(13px);
		& + h3,
		& + h4 {
			margin-top: return-ems(34px,13px);
		}
		@media (min-width:$break-tablet) {
			padding-left:px-to-ems(16px);
			& + h3,
			& + h4 {
				margin-top: return-ems(44px,19px);
			}
		}
	}
	p,
	li {
		font-size: px-to-ems(13px);
		line-height: return-ems(16px,13px);
		& + p {
			margin-top: return-ems(20px,13px);
		}
	}
	a {
		color: $color-blue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.team-content {
	@media (min-width:$break-desktop) {
		@include clearfix;
	}
}
.team-section {
	margin-bottom: px-to-ems(52px);
	@media (min-width:$break-tablet) {
		float: left;
		width: 30.666%;
		margin-left:4%;
		margin-bottom: 0;
		padding-bottom: px-to-ems(80px);
		&:first-child {
			margin-left: 0;
		}
		&:nth-child(4n) {
			clear: both;
			margin-left: 0;
		}
	}
}
.legal-and-privacy .content-main {
	@media (max-width:767px) {
		img {
			transform: scale(.5);
			transform-origin: left;
		}
	}
}
/* =Privacy Modal
// ========================================================================== */
#privacy-modal {
	display: none;
	-webkit-transition: .25s bottom ease-in;
	-moz-transition: .25s bottom ease-in;
	-ms-transition: .25s bottom ease-in;
	transition: .25s bottom ease-in;
	@media (min-width:$break-tablet) {
		background:white;
		display: block;
		position: fixed;
		bottom:-100%;
		height: 100%;
		left:0;
		right:0;
		overflow-y: scroll;
		z-index:20;
		&.show {
			bottom:0;
		}
	}
	h3 {
		font-family: $font-stack-bold;
		font-size: px-to-ems(28px);
		font-weight: normal;
		line-height: return-ems(30px,28px);
		margin-bottom: return-ems(30px,28px);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	p + h3 {
		margin-top: return-ems(60px,28px);

	}
	h4 {
		font-size: px-to-ems(16px);
		font-weight: normal;
		line-height: return-ems(19px,16px);
	}
	ul {
		margin:0;
		padding-left:px-to-ems(16px);
		& + h3,
		& + h4 {
			margin-top: return-ems(44px,19px);
		}
	}
	p,
	li {
		font-size: px-to-ems(13px);
		line-height: return-ems(16px,13px);
		& + p {
			margin-top: return-ems(20px,13px);
		}
	}
	a {
		color: $color-blue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.close-btn {
		background: url(../_img/sprite-1x.png) no-repeat -477px -418px;
		@include image-2x('../_img/sprite-2x.png', 500px, 800px);
		cursor: pointer;
		display: none;
		top: px-to-ems(70px);
		right:px-to-ems(35px);
		height: px-to-ems(18px);
		overflow: hidden;
		position: fixed;
		text-indent: -999em;
		transition:display .5s ease-in;
		width:px-to-ems(18px);
		&:hover {
			background-position: -477px -453px;
		}
	}
	&.show .close-btn {
		display: block;
		-webkit-animation-duration: .5s;
		animation-duration: .5s;
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
	}
}
.privacy-content {
	padding-top:px-to-ems(70px);
	padding-bottom: px-to-ems(36px);
	padding-left: 0;
	margin: 0 auto;
	width: calc(80% - 140px);
	@media(min-width:$break-desktop){
		width: 95%;
		padding-left: 50%;
		margin: 0;
	}
	span a img {
		display: block;
		max-width: 210px;
		height: auto;
		margin: 0 0 70px;
		@media(min-width:$break-desktop){
			margin-left: -45px;
		}
	}
}

/* =News Listing
// ========================================================================== */
.news {
	background:rgb(224,224,224);
}
#news-listing {
	@include clearfix;
	margin: 0 px-to-ems(18px);
	padding:px-to-ems(48px) 0 px-to-ems(10px);
	position: relative;
	z-index:2;
	@media (min-width:$break-tablet) {
		margin:0 px-to-ems(35px);
		padding:px-to-ems(80px) 0  px-to-ems(10px);
	}
	.listing {
		margin:0 0 px-to-ems(22px);
		z-index:1;
		width:100%;
		.wrapper{
			background:$color-white;
			border:1px solid $color-white;
			padding:px-to-ems(9px);
		}
		&.expanded {
			z-index:3;
			@media (min-width:layout-ems(600px)) {
				.wrapper {
					border-color: #42a6bc;
				}
			}
		}
		a {
			font-family:$font-stack-bold;
			color: $color-blue;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		@media (min-width:layout-ems(600px)) {
			float: left;
			padding:0 px-to-ems(11px);
			width:50%;
			.no-js & {
				&:nth-child(2n+1) {
					clear: left;
				}
			}
		}
		@media (min-width:$break-tablet) {
			margin:0 0 px-to-ems(26px);
			padding:0 px-to-ems(13px);
			width:50%;
		}
		@media (min-width:layout-ems(1080px)) {
			width: 33.333%;
			.no-js & {
				&:nth-child(2n+1) {
					clear: none;
				}
				&:nth-child(3n+1) {
					clear: left;
				}
			}
		}
	}
	figure {
		margin-bottom: px-to-ems(7px);
		@media (min-width:$break-tablet) {
			margin-bottom: px-to-ems(11px);
		}
		@media (min-width:$break-desktop) {
			img {
				max-width: none;
				width: 100%;
			}
		}
	}
	.listing-title {
		font-family: $font-stack-bold;
		font-size: px-to-ems(20px);
		font-weight: normal;
		line-height: return-ems(20px,20px);
		margin-bottom: return-ems(18px,20px);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(18px);
			line-height: return-ems(20px,18px);
			margin-bottom: return-ems(19px,18px);
		}
	}
	.post-date {
		color: rgba(102,102,102,.6);
		font-size: px-to-ems(13px);
		line-height: return-ems(21px,13px);
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(12px);
			line-height: return-ems(14px,13px);
			margin-bottom: return-ems(5px,13px);
		}
	}
	p {
		font-size: px-to-ems(13px);
		line-height: return-ems(16px,13px);
		& + p {
			margin-top: return-ems(16px,13px);
		}
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(12px);
			line-height: return-ems(14px,12px);
			& + p {
				margin-top: return-ems(14px,12px);
			}
		}
	}
	.more-content {
		margin-top: return-ems(16px,13px);
		@media (min-width:$break-tablet) {
			margin-top: return-ems(14px,12px);
		}
		&.collapsed {
			display: none;
		}
	}
	.read-more {
		color: $color-blue;
		cursor: pointer;
		font-size: px-to-ems(13px);
		line-height: return-ems(16px,13px);
		margin-top: return-ems(16px,13px);
		@media (min-width:$break-tablet) {
			font-size: px-to-ems(12px);
			line-height: return-ems(14px,12px);
			margin-top: return-ems(14px,12px);
		}
	}
}

/* =Slick
// ========================================================================== */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }

}
.slick-slide {
    float: left;
    min-height: 1px;
    outline:none;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    .attractions-close-by & {
		opacity: .5;
	}
	.attractions-close-by &.slick-active  {
		opacity: 1;
	}
    @media (min-width:$break-desktop) {
		.views-carousel & {
			opacity: .5;
		}
		.views-carousel &.slick-active,  {
			opacity: 1;
		}
	}
}
.slick-arrow.slick-hidden {
    display: none;
}

@import 'contact';
@import 'thanks';
